<a class="destinacije" href="templates\letovanje\letovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>
 
<img class="veca" src="img\bugarska-veca.jpg" alt="Bugarska">
<p class="info">Letnji turizam Bugarske u potpunosti je usmeren na obalu Crnog mora. Na bugarskoj obali Crnog mora se nalaze dva velika grada, Varna i Burgas, i još dosta većih i manjih primorskih turističkih centara. Ako niste bili, a imate bilo kakav sinonim iz “onih” “prošlih” vremena, odmah ih izbrišite iz glave jer su bugarska crnomorska obala i primorje danas sinonimi za luksuz i odličnu turističku uslugu na svim nivoima.
</p>

<a class="destinacije" href="templates\letovanje\bugarska\nesebar\nesebar.html">
    <div class="dest let">
        <img src="img\nesebar.jpg" alt="Nesebar">
        <h2>Nesebar</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\bugarska\suncev\suncev.html">
    <div class="dest let">
        <img src="img\suncev.jpg" alt="Sunčev breg">
        <h2>Sunčev breg</h2>
    </div> 
</a>
<a class="destinacije" href="templates\letovanje\bugarska\zlatni\zlatni.html">
    <div class="dest let">
        <img src="img\zlatni.jpg" alt="Zlatni pjasci">
        <h2>Zlatni pjasci</h2>
    </div>
</a>



<script src="jquery/side.js"></script>