<a href="templates\letovanje\letovanje.html">
    <img id="ret-but" src="img\return-button.png" alt="Return button icon">	 
</a>
 
<img class="veca" src="img\bugarska-veca.jpg" alt="Bugarska">
<h2 class="let">Bugarska</h2>
<p class="info">Letnji turizam Bugarske u potpunosti je usmeren na obalu Crnog mora. Na bugarskoj obali Crnog mora se nalaze dva velika grada, Varna i Burgas, i još dosta većih i manjih primorskih turističkih centara. Ako niste bili, a imate bilo kakav sinonim iz “onih” “prošlih” vremena, odmah ih izbrišite iz glave jer su bugarska crnomorska obala i primorje danas sinonimi za luksuz i odličnu turističku uslugu na svim nivoima.
</p>

<a class="dest let" href="templates\letovanje\bugarska\nesebar.html">
    <img src="img\nesebar.jpg" alt="Nesebar">
    <h2>Nesebar</h2>
</a>

<a class="dest let" href="templates\letovanje\bugarska\suncev.html">
    <img src="img\suncev.jpg" alt="Sunčev breg">
    <h2>Sunčev breg</h2> 
</a>

<a class="dest let" href="templates\letovanje\bugarska\zlatni.html">
    <img src="img\zlatni.jpg" alt="Zlatni pjasci">
    <h2>Zlatni pjasci</h2>
</a>



<script src="js/side.js"></script>