<a class="destinacije" href="templates\letovanje\bugarska\bugarska.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\suncev-veca.jpg" alt="Sunčev breg">
<h2 class="let">Sunčev breg</h2>
<p class="info">Za pravu zabavu iz Nesebara se ide u obližnji “Sunčev breg”, koji se nalazi u neposrednoj blizini Nesebara i najpopularnije je i najmodernije letovalište u Bugarskoj. Ibica, Sen Trope, Las Vegas… Da, “Sunčev breg” ima pomalo od svega u sebi. Pravo letovalište sa preko stotinu hotela i restorana, barova, kazina, prodavnica, akva parkova, raznoraznih mogućnosti za sportove na vodi i na suvom, sa plažom dugačkom oko 10 km i nebrojanim zasadima ruža, Sunčev breg je pravo mesto za “zabavni” odmor.
</p>


<script src="jquery/side.js"></script>