<a class="destinacije" href="templates\letovanje\bugarska\bugarska.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\zlatni-veca.jpg" alt="Zlatni pjasci">
<h2 class="let">Zlatni pjasci</h2>
<p class="info">Sunčev breg, ipak, ima odličnu “konkurenciju” koja se zove “Zlatni pjasci” ili u prevodu – zlatni pesak, koje se nalazi 17 km od Varne. Ime mu već dovoljno govori da je u pitanju pravi “peščani raj” jer je plaža dugačka oko 4 km, ravna je i široka, na nekim mestima i do 100 metara. Zlatni pjasci se svrstavaju u rang najluksuznijih svetskih letovališta koje ima čak i lečilišne mogućnosti zbog lekovitih izvora koji se koriste u terapeutske svrhe. Pa ovde reči Wellness i SPA zasita dobijaju pravo značenje.
</p>


<script src="jquery/side.js"></script>