@media screen and (max-width: 1000px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(#add8e6, #fff);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*------------------------NAVIGATION BAR--------------------*/
    /*------------------------HOME SECTION--------------------*/
    /*------------------------CONTENT--------------------*/
    /*------------------------CONTENT--------------------*/ }
    body a {
      text-decoration: none; }
    body nav {
      width: 100%;
      height: 200px;
      font-family: arial;
      font-weight: 700;
      border-bottom: 5px solid #53868b;
      position: fixed;
      /*	background-color: #fff; */
      background-image: linear-gradient(to bottom right, #FDB813, #add8e6, #fff, #fff);
      top: 0;
      box-sizing: border-box; }
      body nav img {
        height: 180px;
        margin: 10px 0 10px 10px;
        float: left; }
      body nav .hamburger {
        height: 50px;
        width: 70px;
        float: right;
        right: 12%;
        top: 80px;
        position: relative; }
        body nav .hamburger .line1, body nav .hamburger .line2 {
          width: 80%;
          height: 20%;
          background-color: #cead00;
          transition: transform .4s, top .4s;
          position: absolute; }
        body nav .hamburger .line1 {
          top: 40%;
          transform: rotate(45deg); }
        body nav .hamburger .line2 {
          top: 40%;
          left: 50%;
          transform: rotate(-45deg); }
        body nav .hamburger .change1 {
          top: 40%;
          transform: rotate(-45deg); }
        body nav .hamburger .change2 {
          top: 40%;
          transform: rotate(45deg); }
      body nav .navBar {
        display: none;
        width: 600px;
        height: 900px;
        background-image: linear-gradient(#eef7fa, #fff);
        position: absolute;
        right: 0;
        top: 205px;
        box-shadow: -20px 20px 15px #888888; }
        body nav .navBar .pon {
          height: 100px; }
          body nav .navBar .pon .gray {
            display: none; }
          body nav .navBar .pon .color {
            padding: 25px 0 0 25px;
            width: 50px;
            height: 50px;
            margin: 0; }
          body nav .navBar .pon p {
            font-size: 50px;
            padding: 25px 0 0 100px;
            color: #53868b; }
    body .homeSection {
      width: 100%;
      overflow: hidden;
      -ms-overflow-style: none;
      text-align: center;
      font-family: arial;
      background-color: transparent;
      align-content: center; }
      body .homeSection .one .avioSira {
        display: none; }
      body .homeSection .one img {
        width: 100%; }
    body .section {
      display: none;
      width: 100%;
      min-height: 100%;
      overflow: auto;
      -ms-overflow-style: none;
      text-align: center;
      font-family: arial;
      margin-top: 200px; }
      body .section .section2 {
        width: 100%; }
      body .section .load-btn-wrap {
        display: none;
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        z-index: 10000; }
        body .section .load-btn-wrap .load-btn {
          margin: 60% auto;
          width: 150px; }
          body .section .load-btn-wrap .load-btn .first {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 10px solid #fff;
            border-left: 10px solid #add8e6;
            animation: spin 2s linear infinite; }
          body .section .load-btn-wrap .load-btn .second {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 10px solid #fff;
            border-right: 10px solid #cead00;
            animation: spin 2s linear infinite; }
          body .section .load-btn-wrap .load-btn .third {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            border: 10px solid #fff;
            border-top: 10px solid #add8e6;
            animation: spin 2s linear infinite; }
  @keyframes spin {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
      body .section h1 {
        font-size: 75px;
        font-weight: 700;
        font-style: italic; }
      body .section h2 {
        float: right;
        font-size: 75px;
        font-weight: 700;
        font-style: italic;
        margin: 10px; }
      body .section .dest {
        padding: 1%;
        width: 29%;
        display: inline-block;
        cursor: pointer; }
        body .section .dest img {
          border-radius: 50%;
          width: 100%;
          box-shadow: none; }
        body .section .dest h2 {
          font-size: 40px;
          float: none; }
      body .section .let {
        color: #ffb31a; }
      body .section .let:hover img {
        box-shadow: inset -10px -10px 100px 1px #fcef00; }
      body .section .zim {
        color: #1ab2ff; }
      body .section .zim:hover img {
        box-shadow: inset -10px -10px 100px 1px #1ab2ff; }
      body .section .met {
        color: #ff4d88; }
      body .section .met:hover img {
        box-shadow: inset -10px -10px 100px 1px #ff4d88; }
      body .section .ban {
        color: #47d147; }
      body .section .ban:hover img {
        box-shadow: inset -10px -10px 100px 1px #47d147; }
      body .section .dal {
        color: #ffbf00; }
      body .section .dal:hover img {
        box-shadow: inset -10px -10px 100px 1px #ffbf00; }
      body .section .sho {
        color: #cc9900; }
      body .section .sho:hover img {
        box-shadow: inset -10px -10px 100px 1px #cc9900; }
      body .section .izl {
        color: #00b33c; }
      body .section .izl:hover img {
        box-shadow: inset -10px -10px 100px 1px #00b33c; }
      body .section .gal {
        color: #4c4cff; }
      body .section #ret-but {
        float: left;
        width: 75px;
        margin: 10px; }
      body .section .veca {
        width: 100%; }
      body .section p {
        font-size: 20px;
        text-align: left;
        padding: 10px 20px; }
      body .section .gallery {
        width: 100%; }
        body .section .gallery img {
          width: 18.2%;
          float: left;
          padding: 1% 0.5% 0 1%; }
    body .bottom {
      width: 100%;
      bottom: 0;
      background-color: steelblue;
      box-sizing: border-box; }
      body .bottom #logo {
        width: 50%;
        margin: 5% 0 0 10%; }
      body .bottom #homeInfo {
        width: 70%;
        margin: 5% 0 0 10%;
        font-family: arial;
        font-size: 50px; }
        body .bottom #homeInfo p {
          padding-bottom: 50px;
          color: #fff; }
        body .bottom #homeInfo h5 {
          padding-bottom: 50px;
          color: #cead00; }
        body .bottom #homeInfo img {
          width: 50%;
          margin-left: 10%; }
      body .bottom .social {
        width: 50%;
        margin: 10% 0 0 25%;
        padding-bottom: 100px;
        text-align: center; }
        body .bottom .social img {
          width: 50px;
          display: inline-block; }
        body .bottom .social #space {
          width: 50px;
          height: 50px;
          display: inline-block; } }
@media screen and (min-width: 1201px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: lightblue url("../img/background.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    /*------------------------NAVIGATION BAR--------------------*/
    /*------------------------HOME SECTION--------------------*/
    /*------------------------CONTENT--------------------*/
    /*------------------------CONTENT--------------------*/ }
    body a {
      text-decoration: none; }
    body nav {
      width: 100%;
      height: 100px;
      font-family: arial;
      font-weight: 700;
      position: fixed;
      background-image: linear-gradient(to bottom right, #FDB813, #add8e6, #fff, #fff);
      top: 0; }
      body nav img {
        height: 90px;
        margin: 5px 0 5px 5%;
        float: left; }
      body nav .hamburger {
        display: none;
        height: 50px;
        width: 70px;
        float: right;
        right: 12%;
        top: 25px;
        position: relative; }
        body nav .hamburger .line1, body nav .hamburger .line2 {
          width: 80%;
          height: 20%;
          background-color: #cead00;
          transition: transform .4s, top .4s;
          position: absolute; }
        body nav .hamburger .line1 {
          top: 40%;
          transform: rotate(45deg); }
        body nav .hamburger .line2 {
          top: 40%;
          left: 50%;
          transform: rotate(-45deg); }
        body nav .hamburger .change1 {
          top: 40%;
          transform: rotate(-45deg); }
        body nav .hamburger .change2 {
          top: 40%;
          transform: rotate(45deg); }
      body nav .navBar {
        display: block;
        width: 900px;
        height: 100px;
        position: absolute;
        right: 0;
        top: 30px; }
        body nav .navBar .widther {
          width: 140px !important; }
          body nav .navBar .widther .gray {
            padding: 0 45px !important; }
          body nav .navBar .widther .color {
            padding: 0 45px !important; }
        body nav .navBar .pon {
          height: 70px;
          width: 95px;
          float: left;
          text-align: center; }
          body nav .navBar .pon .gray {
            padding: 0 22.5px;
            width: 50px;
            height: 50px;
            margin: 0; }
          body nav .navBar .pon .color {
            display: none;
            padding: 0 22.5px;
            width: 50px;
            height: 50px;
            margin: 0; }
          body nav .navBar .pon p {
            font-size: 15px;
            padding: 0 0;
            color: #53868b; }
        body nav .navBar .pon:hover p {
          color: #cead00; }
    body .homeSection {
      width: 1200px;
      overflow: hidden;
      -ms-overflow-style: none;
      text-align: center;
      font-family: arial;
      background-color: transparent;
      align-content: center;
      margin: 0 auto; }
      body .homeSection .one .avioUza {
        display: none; }
      body .homeSection .one img {
        width: 100%; }
    body .section {
      display: none;
      width: 1200px;
      height: 700px;
      overflow: auto;
      -ms-overflow-style: none;
      text-align: center;
      font-family: arial;
      margin: 200px auto 0 auto;
      border-radius: 3%;
      padding-top: 0px;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 0px 30px 10px #888888; }
      body .section .section2 {
        width: 100%;
        padding-top: 50px; }
        body .section .section2 .section2::-webkit-scrollbar {
          display: none; }
      body .section .load-btn-wrap {
        display: none;
        width: 1200px;
        height: 700px;
        background-color: #fff;
        position: absolute;
        z-index: 10000;
        border-radius: 3%; }
        body .section .load-btn-wrap .load-btn {
          margin: 312.5px auto;
          width: 75px; }
          body .section .load-btn-wrap .load-btn .first {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            border: 5px solid #fff;
            border-left: 5px solid #add8e6;
            animation: spin 2s linear infinite; }
          body .section .load-btn-wrap .load-btn .second {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: 5px solid #fff;
            border-right: 5px solid #cead00;
            animation: spin 2s linear infinite; }
          body .section .load-btn-wrap .load-btn .third {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border: 5px solid #fff;
            border-top: 5px solid #add8e6;
            animation: spin 2s linear infinite; }
  @keyframes spin {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
      body .section h1 {
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        padding: 10px 0; }
      body .section h2 {
        float: right;
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        margin: 10px; }
      body .section .dest {
        width: 10%;
        display: inline-block;
        cursor: pointer; }
        body .section .dest img {
          border-radius: 50%;
          width: 100%; }
        body .section .dest h2 {
          font-size: 20px;
          float: none; }
      body .section .let {
        color: #ffb31a; }
      body .section .let:hover img {
        box-shadow: 0px 0px 30px 10px #fcef00; }
      body .section .zim {
        color: #1ab2ff; }
      body .section .zim:hover img {
        box-shadow: 0px 0px 30px 10px #1ab2ff; }
      body .section .met {
        color: #ff4d88; }
      body .section .met:hover img {
        box-shadow: 0px 0px 30px 10px #ff4d88; }
      body .section .ban {
        color: #47d147; }
      body .section .ban:hover img {
        box-shadow: 0px 0px 30px 10px #47d147; }
      body .section .dal {
        color: #ffbf00; }
      body .section .dal:hover img {
        box-shadow: 0px 0px 30px 10px #ffbf00; }
      body .section .sho {
        color: #cc9900; }
      body .section .sho:hover img {
        box-shadow: 0px 0px 30px 10px #cc9900; }
      body .section .izl {
        color: #00b33c; }
      body .section .izl:hover img {
        box-shadow: 0px 0px 30px 10px #00b33c; }
      body .section #ret-but {
        float: left;
        width: 30px;
        margin: 10px; }
      body .section .veca {
        width: 100%; }
      body .section p {
        padding: 10px 20px;
        font-size: 20px;
        text-align: left; }
    body .bottom {
      width: 100%;
      bottom: 0;
      background-color: rgba(70, 130, 180, 0.8);
      box-sizing: border-box;
      margin: 0 auto; }
      body .bottom #logo {
        width: 20%;
        margin: 1% 0 0 20%;
        float: left; }
      body .bottom #homeInfo {
        width: 50%;
        margin-left: 50%;
        font-family: arial;
        font-size: 20px; }
        body .bottom #homeInfo p {
          padding: 5px 0;
          color: #fff; }
        body .bottom #homeInfo h5 {
          padding-bottom: 10px;
          color: #cead00; }
        body .bottom #homeInfo img {
          width: 20%;
          margin-left: 1%; }
      body .bottom .social {
        width: 20%;
        text-align: center;
        margin: 10px 0 0 20%;
        padding-bottom: 20px; }
        body .bottom .social img {
          width: 20px;
          display: inline-block; }
        body .bottom .social #space {
          width: 20px;
          height: 20px;
          display: inline-block; } }
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(#add8e6, #fff);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*------------------------NAVIGATION BAR--------------------*/
    /*------------------------HOME SECTION--------------------*/
    /*------------------------CONTENT--------------------*/
    /*------------------------CONTENT--------------------*/ }
    body a {
      text-decoration: none; }
    body nav {
      width: 100%;
      height: 100px;
      font-family: arial;
      font-weight: 700;
      border-bottom: 5px solid #53868b;
      position: fixed;
      background-image: linear-gradient(to bottom right, #FDB813, #add8e6, #fff, #fff);
      top: 0;
      box-sizing: border-box; }
      body nav img {
        height: 90px;
        margin: 5px 0 5px 10px;
        float: left; }
      body nav .hamburger {
        display: none;
        height: 50px;
        width: 70px;
        float: right;
        right: 12%;
        top: 25px;
        position: relative; }
        body nav .hamburger .line1, body nav .hamburger .line2 {
          width: 80%;
          height: 20%;
          background-color: #cead00;
          transition: transform .4s, top .4s;
          position: absolute; }
        body nav .hamburger .line1 {
          top: 40%;
          transform: rotate(45deg); }
        body nav .hamburger .line2 {
          top: 40%;
          left: 50%;
          transform: rotate(-45deg); }
        body nav .hamburger .change1 {
          top: 40%;
          transform: rotate(-45deg); }
        body nav .hamburger .change2 {
          top: 40%;
          transform: rotate(45deg); }
      body nav .navBar {
        display: block;
        width: 100%;
        height: 100px;
        position: absolute;
        background-image: linear-gradient(#eef7fa, #fff);
        top: 100px; }
        body nav .navBar .widther {
          width: 15% !important; }
        body nav .navBar .pon {
          height: 100px;
          width: 10.5%;
          float: left;
          text-align: center;
          margin-top: 5px; }
          body nav .navBar .pon .gray {
            display: none; }
          body nav .navBar .pon .color {
            width: 50px;
            height: 50px;
            float: none;
            margin: 0 0; }
          body nav .navBar .pon p {
            font-size: 20px;
            padding: 0 0;
            color: #53868b; }
    body .homeSection {
      width: 100%;
      overflow: hidden;
      -ms-overflow-style: none;
      text-align: center;
      font-family: arial;
      background-color: transparent;
      align-content: center; }
      body .homeSection .one .avioUza {
        display: none; }
      body .homeSection .one img {
        width: 100%; }
    body .section {
      display: none;
      width: 100%;
      overflow: auto;
      -ms-overflow-style: none;
      text-align: center;
      font-family: arial;
      margin-top: 200px; }
      body .section .section2 {
        width: 100%; }
      body .section .load-btn-wrap {
        display: none;
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        z-index: 10000; }
        body .section .load-btn-wrap .load-btn {
          margin: 60% auto;
          width: 150px; }
          body .section .load-btn-wrap .load-btn .first {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 10px solid #fff;
            border-left: 10px solid #add8e6;
            animation: spin 2s linear infinite; }
          body .section .load-btn-wrap .load-btn .second {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 10px solid #fff;
            border-right: 10px solid #cead00;
            animation: spin 2s linear infinite; }
          body .section .load-btn-wrap .load-btn .third {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            border: 10px solid #fff;
            border-top: 10px solid #add8e6;
            animation: spin 2s linear infinite; }
  @keyframes spin {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
      body .section h1 {
        font-size: 50px;
        font-weight: 700;
        font-style: italic; }
      body .section h2 {
        float: right;
        font-size: 50px;
        font-weight: 700;
        font-style: italic;
        margin: 10px; }
      body .section .dest {
        padding: 1%;
        width: 19%;
        display: inline-block;
        cursor: pointer; }
        body .section .dest img {
          border-radius: 50%;
          width: 100%;
          box-shadow: none; }
        body .section .dest h2 {
          font-size: 30px;
          float: none; }
      body .section .let {
        color: #ffb31a; }
      body .section .let:hover img {
        box-shadow: inset -10px -10px 100px 1px #fcef00; }
      body .section .zim {
        color: #1ab2ff; }
      body .section .zim:hover img {
        box-shadow: inset -10px -10px 100px 1px #1ab2ff; }
      body .section .met {
        color: #ff4d88; }
      body .section .met:hover img {
        box-shadow: inset -10px -10px 100px 1px #ff4d88; }
      body .section .ban {
        color: #47d147; }
      body .section .ban:hover img {
        box-shadow: inset -10px -10px 100px 1px #47d147; }
      body .section .dal {
        color: #ffbf00; }
      body .section .dal:hover img {
        box-shadow: inset -10px -10px 100px 1px #ffbf00; }
      body .section .sho {
        color: #cc9900; }
      body .section .sho:hover img {
        box-shadow: inset -10px -10px 100px 1px #cc9900; }
      body .section .izl {
        color: #00b33c; }
      body .section .izl:hover img {
        box-shadow: inset -10px -10px 100px 1px #00b33c; }
      body .section .gal {
        color: #4c4cff; }
      body .section #ret-but {
        float: left;
        width: 50px;
        margin: 10px; }
      body .section .veca {
        width: 100%; }
      body .section p {
        font-size: 30px;
        text-align: left;
        padding: 10px 20px; }
      body .section .gallery {
        width: 100%; }
        body .section .gallery img {
          width: 18.2%;
          float: left;
          padding: 1% 0.5% 0 1%; }
    body .bottom {
      width: 100%;
      bottom: 0;
      background-color: steelblue;
      box-sizing: border-box; }
      body .bottom #logo {
        width: 20%;
        margin: 1% 0 0 10%; }
      body .bottom #homeInfo {
        width: 70%;
        margin: 1% 0 0 10%;
        font-family: arial;
        font-size: 25px; }
        body .bottom #homeInfo p {
          padding-bottom: 25px;
          color: #fff; }
        body .bottom #homeInfo h5 {
          padding-bottom: 25px;
          color: #cead00; }
        body .bottom #homeInfo img {
          width: 20%;
          margin-left: 1%; }
      body .bottom .social {
        width: 20%;
        margin: 1% 0 0 40%;
        padding-bottom: 20px;
        text-align: center; }
        body .bottom .social img {
          width: 25px;
          display: inline-block; }
        body .bottom .social #space {
          width: 25px;
          height: 25px;
          display: inline-block; } }

/*# sourceMappingURL=style.css.map */
