@media screen and (max-width: 1024px) and (orientation: portrait) {
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(#add8e6, #fff);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*------------------------NAVIGATION BAR--------------------*/
    /*------------------------HOME SECTION--------------------*/
    /*------------------------CONTENT--------------------*/
    /*------------------------CONTENT--------------------*/ }
    body a {
      text-decoration: none; }
    body nav {
      width: 100%;
      height: 200px;
      font-family: arial;
      font-weight: 700;
      border-bottom: 5px solid #53868b;
      position: fixed;
      background-color: #add8e6;
      top: 0;
      box-sizing: border-box; }
      body nav img {
        height: 180px;
        margin: 10px 0 10px 10px;
        float: left; }
      body nav .hamburger {
        height: 50px;
        width: 70px;
        float: right;
        right: 12%;
        top: 80px;
        position: relative; }
        body nav .hamburger .line1, body nav .hamburger .line2 {
          width: 80%;
          height: 20%;
          background-color: #cead00;
          transition: transform .4s, top .4s;
          position: absolute; }
        body nav .hamburger .line1 {
          top: 40%;
          transform: rotate(45deg); }
        body nav .hamburger .line2 {
          top: 40%;
          left: 50%;
          transform: rotate(-45deg); }
        body nav .hamburger .change1 {
          top: 40%;
          transform: rotate(-45deg); }
        body nav .hamburger .change2 {
          top: 40%;
          transform: rotate(45deg); }
      body nav .navBar {
        display: none;
        width: 600px;
        height: 1000px;
        background-image: linear-gradient(#eef7fa, #fff);
        position: absolute;
        right: 0;
        top: 205px;
        box-shadow: -20px 20px 15px #888888; }
        body nav .navBar .pon {
          height: 100px; }
          body nav .navBar .pon .gray {
            display: none; }
          body nav .navBar .pon .color {
            padding: 25px 0 0 25px;
            width: 50px;
            height: 50px;
            margin: 0; }
          body nav .navBar .pon p {
            font-size: 50px;
            padding: 25px 0 0 100px;
            color: #53868b; }
    body .homeSection {
      width: 100%;
      overflow: hidden;
      -ms-overflow-style: none;
      text-align: center;
      font-family: arial;
      background-color: transparent;
      align-content: center; }
      body .homeSection .homeNews {
        height: 300px;
        width: 95%;
        border: 5px solid #53868b;
        margin: 10px 0 0 2.5%;
        box-sizing: border-box; }
      body .homeSection .one img {
        height: 100vh;
        margin-left: -120%; }
      body .homeSection .two img, body .homeSection .three img {
        width: 100%; }
    body .section {
      display: none;
      width: 100%;
      min-height: 100vh;
      overflow: auto;
      -ms-overflow-style: none;
      text-align: center;
      font-family: arial;
      margin-top: 200px; }
      body .section h1 {
        font-size: 75px;
        font-weight: 700;
        font-style: italic; }
      body .section h2 {
        float: right;
        font-size: 75px;
        font-weight: 700;
        ont-style: italic;
        margin: 10px; }
      body .section .dest {
        padding: 1%;
        width: 29%;
        display: inline-block;
        cursor: pointer; }
        body .section .dest img {
          border-radius: 50%;
          width: 100%;
          box-shadow: none; }
        body .section .dest h2 {
          font-size: 40px;
          float: none; }
      body .section .let {
        color: #ffb31a; }
      body .section .let:hover img {
        box-shadow: inset -10px -10px 100px 1px #fcef00; }
      body .section .zim {
        color: #1ab2ff; }
      body .section .zim:hover img {
        box-shadow: inset -10px -10px 100px 1px #1ab2ff; }
      body .section .met {
        color: #ff4d88; }
      body .section .met:hover img {
        box-shadow: inset -10px -10px 100px 1px #ff4d88; }
      body .section .ban {
        color: #47d147; }
      body .section .ban:hover img {
        box-shadow: inset -10px -10px 100px 1px #47d147; }
      body .section .dal {
        color: #ffbf00; }
      body .section .dal:hover img {
        box-shadow: inset -10px -10px 100px 1px #ffbf00; }
      body .section .sho {
        color: #cc9900; }
      body .section .sho:hover img {
        box-shadow: inset -10px -10px 100px 1px #cc9900; }
      body .section .izl {
        color: #00b33c; }
      body .section .izl:hover img {
        box-shadow: inset -10px -10px 100px 1px #00b33c; }
      body .section .gal {
        color: #4c4cff; }
      body .section #ret-but {
        float: left;
        width: 75px;
        margin: 10px; }
      body .section .veca {
        width: 100%; }
      body .section p {
        font-size: 2vh;
        text-align: left; }
      body .section .gallery {
        width: 100%; }
        body .section .gallery img {
          width: 18.2%;
          float: left;
          padding: 1% 0.5% 0 1%; }
    body .bottom {
      width: 100%;
      bottom: 0;
      background-color: #8aacb8;
      box-sizing: border-box; }
      body .bottom #logo {
        width: 50%;
        margin: 5% 0 0 10%; }
      body .bottom #homeInfo {
        width: 70%;
        margin: 5% 0 0 10%;
        font-family: arial;
        font-size: 50px; }
        body .bottom #homeInfo p {
          padding-bottom: 50px;
          color: #fff; }
        body .bottom #homeInfo h5 {
          padding-bottom: 50px;
          color: #cead00; }
        body .bottom #homeInfo img {
          width: 50%;
          margin-left: 10%; }
      body .bottom .social {
        width: 50%;
        margin: 10% 0 0 25%;
        padding-bottom: 100px;
        text-align: center; }
        body .bottom .social img {
          width: 50px;
          display: inline-block; }
        body .bottom .social #space {
          width: 50px;
          height: 50px;
          display: inline-block; } }
@media screen and (max-width: 1024px) and (orientation: landscape) {
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image: url("../img/background-por.jpg");
    background-color: lightblue;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; }
    body a {
      text-decoration: none; }
    body nav {
      width: 100%;
      height: 200px;
      font-family: 'Baloo', cursive; }
      body nav img {
        height: 180px;
        margin: 10px 0 10px 10px;
        float: left; }
      body nav .hamburger {
        height: 70px;
        width: 100px;
        float: right;
        right: 10%;
        top: 65px;
        position: relative; }
        body nav .hamburger .line1, body nav .hamburger .line2, body nav .hamburger .line3 {
          width: 100%;
          height: 20%;
          background-color: #162EA6;
          transition: transform .4s, top .4s;
          position: absolute; }
        body nav .hamburger .line1 {
          top: 0; }
        body nav .hamburger .line2 {
          top: 40%; }
        body nav .hamburger .line3 {
          bottom: 0; }
        body nav .hamburger .change1 {
          top: 40%;
          transform: rotate(45deg); }
        body nav .hamburger .change2 {
          top: 40%;
          transform: rotate(-45deg); }
      body nav .navBar {
        width: 90%;
        height: 900px;
        top: 220px;
        position: absolute;
        text-decoration: none;
        text-align: center;
        margin-left: 5%;
        display: none; }
        body nav .navBar a {
          text-decoration: none; }
          body nav .navBar a p {
            font-size: 100px;
            color: #162EA6;
            padding: 10px 0 10px 0;
            width: 100%; }
          body nav .navBar a .one, body nav .navBar a .two, body nav .navBar a .three, body nav .navBar a .four, body nav .navBar a .five, body nav .navBar a .six, body nav .navBar a .seven, body nav .navBar a .eight, body nav .navBar a .nine {
            display: none;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5); }
          body nav .navBar a .two {
            margin-top: 120px; }
          body nav .navBar a .three {
            margin-top: 240px; }
          body nav .navBar a .four {
            margin-top: 360px; }
          body nav .navBar a .five {
            margin-top: 480px; }
          body nav .navBar a .six {
            margin-top: 600px; }
          body nav .navBar a .seven {
            margin-top: 720px; }
          body nav .navBar a .eight {
            margin-top: 840px; }
          body nav .navBar a .nine {
            margin-top: 960px; }
    body .section {
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      overflow: auto;
      -ms-overflow-style: none;
      text-align: center; }
      body .section .dest {
        padding: 1%;
        width: 29%;
        text-align: center;
        display: inline-block;
        cursor: pointer; }
        body .section .dest img {
          border-radius: 50%;
          width: 100%;
          padding: 4%;
          box-shadow: none; }
        body .section .dest h2 {
          font-size: 2vh; }
      body .section .let {
        color: #ffb31a; }
      body .section .let:hover img {
        box-shadow: inset -10px -10px 100px 1px #fcef00; }
      body .section .zim {
        color: #1ab2ff; }
      body .section .zim:hover img {
        box-shadow: inset -10px -10px 100px 1px #1ab2ff; }
      body .section .met {
        color: #ff4d88; }
      body .section .met:hover img {
        box-shadow: inset -10px -10px 100px 1px #ff4d88; }
      body .section .ban {
        color: #47d147; }
      body .section .ban:hover img {
        box-shadow: inset -10px -10px 100px 1px #47d147; }
      body .section .dal {
        color: #ffbf00; }
      body .section .dal:hover img {
        box-shadow: inset -10px -10px 100px 1px #ffbf00; }
      body .section .sho {
        color: #cc9900; }
      body .section .sho:hover img {
        box-shadow: inset -10px -10px 100px 1px #cc9900; }
      body .section .izl {
        color: #00b33c; }
      body .section .izl:hover img {
        box-shadow: inset -10px -10px 100px 1px #00b33c; } }

/*# sourceMappingURL=style.css.map */
