@media screen and (min-width: 1201px){

	body	{
			width: 100vw;
			height: 100vh;
			overflow-x: hidden;
			background: lightblue url("../img/background.jpg") no-repeat fixed center;;
			-webkit-background-size: cover;

		    a   {
				text-decoration: none;
			}
													/*------------------------NAVIGATION BAR--------------------*/
			nav	{
				width: 100%;
				height: 100px;
				font-family: arial;
				font-weight: 700;
				position: fixed;
				background-image: linear-gradient(to bottom right, #FDB813, #add8e6, #fff, #fff);
				top: 0;


				
				img	{
					height: 90px;
					margin: 5px 0 5px 5%; 
					float: left;
				}
				
				.hamburger	{
					display: none;
					height: 50px;
					width: 70px;
					float: right;
					right: 12%;
					top: 25px;
					position: relative;
				
					.line1, .line2 {
						width: 80%;
						height: 20%;
						background-color: #cead00;
						transition: transform .4s, top .4s;
						position: absolute;
					}

					.line1	{
						top: 40%;
						transform: rotate(45deg);

					}
					
					.line2	{
						top: 40%;
						left: 50%;
						transform: rotate(-45deg);
					}
					
					.change1	{
						top: 40%;
						transform: rotate(-45deg);
					}
					.change2	{
						top: 40%;
						transform: rotate(45deg);
					}
				}


				
				.navBar	{
					display: block;
					width: 900px;
					height: 100px;
					position: absolute;
					right: 0;
					top: 30px;

				
					.widther {
						width: 140px !important;

						.gray	{
							padding: 0 45px !important;
						}

						.color   {
							padding: 0 45px !important;
						}
					}

					.pon   {
						height: 70px;
						width: 95px;
						float: left;
						text-align: center;

						.gray  {
							padding: 0 22.5px;
							width: 50px;
							height: 50px;
							margin: 0;
							
						}

						.color	{
							display: none;
							padding: 0 22.5px;
							width: 50px;
							height: 50px;
							margin: 0;
						}						

						p   {
							font-size: 15px;
							padding: 0 0;
							color: #53868b;
						}
					}
					
					.pon:hover {
						.gray  {
							display: none;
						}
						.color   {
							display: block;
						}
						p   {
							color: #cead00;
						}
					}


				}


	

			}

																	/*------------------------HOME SECTION--------------------*/
			.homeSection	{
					width: 1200px;
					overflow: hidden;
					-ms-overflow-style: none;
					text-align: center;
					font-family: arial;
					background-color: transparent;
					align-content: center;
					margin: 0 auto;


					.one	{

						.avioUza	{
							display: none;
						}

						img   {
							width: 100%;
							
						}
					}   


			}






																		/*------------------------CONTENT--------------------*/

			.section 	{
					display: none;
					width: 1200px;
					height: 700px;
					overflow: auto;
					-ms-overflow-style: none;
					text-align: center;
					font-family: arial;
					margin: 200px auto 0 auto;
					border-radius: 3%;
					padding-top: 0px;
					background-color: rgba(255, 255, 255, 0.5);
					box-shadow: 0px 0px 30px 10px #888888;

					.section2	{
						width: 100%;
					}
					
					.load-btn-wrap	{
							display: none;
							width:	1200px;
							height: 700px;
							background-color: #fff;
							position: absolute;
							z-index: 10000;
							border-radius: 3%;


						.load-btn   {
							margin: 60% auto;
							width: 150px;

							.first	{
								width: 150px;
								height: 150px;
								border-radius: 50%;
								border: 10px solid #fff;
								border-left: 10px solid #add8e6;
								animation: spin 2s linear infinite;
							}
							.second	{
								width: 130px;
								height: 130px;
								border-radius: 50%;
								border: 10px solid #fff;
								border-right: 10px solid #cead00;
								animation: spin 2s linear infinite;
								
							}
							.third	{
								width: 110px;
								height: 110px;
								border-radius: 50%;
								border: 10px solid #fff;
								border-top: 10px solid #add8e6;
								animation: spin 2s linear infinite;
								
							}
							@keyframes spin {
							    0% { transform: rotate(0deg); }
							    100% { transform: rotate(360deg); }
							}
						}
					}

					h1	{
						font-size: 30px;
						font-weight: 700;
						font-style: italic;
					}

					h2	{
						float: right;
						font-size: 30px;
						font-weight: 700;
						font-style: italic;
						margin: 10px;
					}

					.dest	{
							width: 10%;
					    	display: inline-block;
					    	cursor: pointer;

					img    { 
								border-radius: 50%;
								width: 100%;
							}

							h2	{
								font-size: 20px;
								float: none;
							}
					}

					.let   {
							color: #ffb31a;
					}


					
					.let:hover img    {
						box-shadow: 0px 0px 30px 10px #fcef00;
					}
					
					.zim   {
					    color: #1ab2ff;
					}
					
					.zim:hover img    {
						box-shadow: 0px 0px 30px 10px #1ab2ff;
					}
				
					.met    {
						color: #ff4d88;
					}
					
					.met:hover img    {
						box-shadow: 0px 0px 30px 10px #ff4d88;
					}
					
					.ban    {
						color: #47d147;
					}   
					
					.ban:hover img    {
						box-shadow: 0px 0px 30px 10px #47d147;
					}
					
					.dal    {
						color: #ffbf00;
					}	
					
					.dal:hover img    {
						box-shadow: 0px 0px 30px 10px #ffbf00;
					}
					
					.sho    {
						color: #cc9900;
					}
					
					.sho:hover img    {
						box-shadow: 0px 0px 30px 10px #cc9900;
					}
					
					.izl    {
						color: #00b33c;
					}
					
					.izl:hover img    {
						box-shadow: 0px 0px 30px 10px #00b33c;
					}


					#ret-but    {
							float: left;
							width: 30px;
							margin: 10px;
						}

					.veca	{
						width: 100%;
					}

					p	{
						padding: 10px 20px;
						font-size: 20px;
						text-align: left;
					}

			
			}

																			/*------------------------CONTENT--------------------*/

			.bottom   {
					width: 100%;
					bottom: 0;
					background-color: rgba(70,130,180,0.8); 
				    box-sizing: border-box;
				    margin: 0 auto;

				    #logo	{
				    	width: 20%;
				    	margin: 1% 0 0 20%;
				    	float: left;
				    }

				    #homeInfo	{
				    	width: 50%;
				    	margin-left: 50%;
				    	font-family: arial;
				    	font-size: 20px;

				    	
						p   {
				    		padding: 5px 0;
				    		color: #fff;
				    		}

				    	h5	{
							padding-bottom: 10px;
				    		color: #cead00;
				    		}

				    	img   {
				    		width: 20%;
				    		margin-left: 1%;
				    	}
				    }

				    .social	{
				    	width: 20%;			    	
				    	text-align: center;
				    	margin: 10px 0 0 20%;
				    	padding-bottom: 20px;

				    	img   {
				    		width: 20px;
				    		display: inline-block;
				    	}

				    	#space	{
				    		width: 20px;
				    		height: 20px;
				    		display: inline-block;
				    	}
				    }
			
			}	
			

	}			
			

}