@media screen and (max-width: 1024px) and (orientation: portrait) {

	body	{
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			background-image: url("../img/background-por.jpg");
			background-color: lightblue;
			-webkit-background-size: cover;
		    background-size: cover;
		    background-repeat: no-repeat;


			nav	{
				width: 100%;
				height: 200px;
				font-family: 'Baloo', cursive;
				

				img	{
					height: 180px;
					margin: 10px 0 10px 10px; 
					float: left;
				}
				
				.hamburger	{
					height: 70px;
					width: 100px;
					float: right;
					right: 10%;
					top: 65px;
					position: relative;
				
					.line1, .line2, .line3 {
						width: 100%;
						height: 20%;
						background-color: #162EA6;
						transition: transform .4s, top .4s;
						position: absolute;
						
					}
					
					.line1	{
						top: 0;
					}
					
					.line2	{
						top: 40%;
					}
					
					.line3	{
						bottom: 0;
					}

					.change1	{
						top: 40%;
						transform: rotate(45deg);
					}
					.change2	{
						top: 40%;
						transform: rotate(-45deg);
					}
				}

				.navBar	{
					width: 90%;
					height: 900px;
					top: 220px;
					position: absolute;
					text-decoration: none;
					text-align: center;
					margin-left: 5%;

					a 	{
						text-decoration: none;

						p 	{
							font-size: 100px;
							color: #162EA6;
							padding: 10px 0 10px 0;
							width: 100%;
							
						}
						
						.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
							display: none;
							position: absolute;
							background-color: rgba(255,255,255, 0.5);
						}

						.two	{
							margin-top: 120px;
						}

						.three	{
							margin-top: 240px;
						}

						.four	{
							margin-top: 360px;
						}

						.five	{
							margin-top: 480px;
						}

						.six	{
							margin-top: 600px;
						}

						.seven	{
							margin-top: 720px;
						}

						.eight	{
							margin-top: 840px;
						}

						.nine	{
							margin-top: 960px;
						}

					}
				}
			}

			.section 	{
					display: none;

					}

	
					
			

	}			

}