@media screen and (max-width: 1024px) and (orientation: portrait) {

	body	{
			width: 100vw;
			height: 100vh;
			overflow-x: hidden;
			background-image: linear-gradient(#add8e6, #fff);
            -webkit-background-size: cover;
		    background-size: cover;
		    background-repeat: no-repeat;


		    a   {
				text-decoration: none;
			}
													/*------------------------NAVIGATION BAR--------------------*/
			nav	{
				width: 100%;
				height: 200px;
				font-family: arial;
				font-weight: 700;
				border-bottom: 5px solid #53868b;
				position: fixed;
				background-color: #add8e6; 
				top: 0;
				box-sizing: border-box;

				
				img	{
					height: 180px;
					margin: 10px 0 10px 10px; 
					float: left;
				}
				
				.hamburger	{
					height: 50px;
					width: 70px;
					float: right;
					right: 12%;
					top: 80px;
					position: relative;
				
					.line1, .line2 {
						width: 80%;
						height: 20%;
						background-color: #53868b;
						transition: transform .4s, top .4s;
						position: absolute;
					}

					.line1	{
						top: 40%;
						transform: rotate(45deg);

					}
					
					.line2	{
						top: 40%;
						left: 50%;
						transform: rotate(-45deg);
					}
					
					.change1	{
						top: 40%;
						transform: rotate(-45deg);
					}
					.change2	{
						top: 40%;
						transform: rotate(45deg);
					}
				}


				
				.navBar	{
					display: none;
					width: 600px;
					height: 1000px;
					background-image: linear-gradient(#eef7fa, #fff);
					position: absolute;
					right: 0;
					top: 205px;
					box-shadow: -20px 20px 15px #888888; 
					

					.pon   {
						height: 100px;

						.gray  {
							display: none;
						}

						.color	{
							padding: 25px 0 0 25px;
							width: 50px;
							height: 50px;
							margin: 0;
						}						

						p   {
							font-size: 50px;
							padding: 25px 0 0 100px;
							color: #53868b;
						}
					}
				}
	

			}

																	/*------------------------HOME SECTION--------------------*/
			.homeSection	{
					display: none;
					width: 100%;
					height: 100%;
					overflow: auto;
					-ms-overflow-style: none;
					text-align: center;
					font-family: arial;
					background-color: transparent;
					margin-top: 200px;

			
					.homeNews	{
						background-color: transparent;
						height: 300px;
						width: 95%;
						border: 5px solid #53868b;
						margin: 10px 0 0 2.5%;
						box-sizing: border-box;
					}


			}






																		/*------------------------CONTENT--------------------*/

			.section 	{
					display: none;
					width: 100%;
					height: 100%;
					background-color: rgba(255,255,255,0.5);
					overflow: auto;
					-ms-overflow-style: none;
					text-align: center;
					font-family: arial;
					margin-top: 200px;

					.dest	{
							padding: 1%;
							width: 29%;
					    	display: inline-block;
					    	cursor: pointer;
									
							img    { 
								border-radius: 50%;
								width: 100%;
								box-shadow: none;
							}

							h1	{
								font-size: 75px;
								text-align: right;
								font-style: italic;
							}
									
							h2	{
								font-size: 40px;
							}
					}

					.let   {
							color: #ffb31a;
					}
					
					.let:hover img    {
						box-shadow: inset -10px -10px 100px 1px #fcef00;
					}
					
					.zim   {
					    color: #1ab2ff;
					}
					
					.zim:hover img    {
						box-shadow: inset -10px -10px 100px 1px #1ab2ff;
					}
					
					.met    {
						color: #ff4d88;
					}
					
					.met:hover img    {
						box-shadow: inset -10px -10px 100px 1px #ff4d88;
					}
					
					.ban    {
						color: #47d147;
					}   
					
					.ban:hover img    {
						box-shadow: inset -10px -10px 100px 1px #47d147;
					}
					
					.dal    {
						color: #ffbf00;
					}	
					
					.dal:hover img    {
						box-shadow: inset -10px -10px 100px 1px #ffbf00;
					}
					
					.sho    {
						color: #cc9900;
					}
					
					.sho:hover img    {
						box-shadow: inset -10px -10px 100px 1px #cc9900;
					}
					
					.izl    {
						color: #00b33c;
					}
					
					.izl:hover img    {
						box-shadow: inset -10px -10px 100px 1px #00b33c;
					}

					#ret-but    {
							float: left;
							width: 10%;
							margin: 1%;
						}

					.veca	{
						width: 100%;
					}

					p	{
						font-size: 2vh;
						text-align: left;
					}
			
			}

																			/*------------------------CONTENT--------------------*/

			.bottom   {
					width: 100%;
					bottom: 0;
					background-color: #8aacb8; 
				    box-sizing: border-box;

				    #logo	{
				    	width: 50%;
				    	margin: 5% 0 0 10%;
				    }

				    #homeInfo	{
				    	width: 70%;
				    	margin: 5% 0 0 10%;
				    	font-family: arial;
				    	font-size: 50px;
				    	
						p   {
				    		padding-bottom: 50px;
				    		color: #fff;
				    		}

				    	h5	{
							padding-bottom: 50px;
				    		color: #cead00;
				    		}

				    	img   {
				    		width: 50%;
				    		margin-left: 10%;
				    	}
				    }

				    .social	{
				    	width: 50%;
				    	margin: 10% 0 0 25%;
				    	padding-bottom: 100px;
				    	text-align: center;

				    	img   {
				    		width: 50px;
				    		display: inline-block;
				    	}

				    	#space	{
				    		width: 50px;
				    		height: 50px;
				    		display: inline-block;
				    	}
				    }
			
			}	
			

	}			
			

}