@media screen and (max-width: 1024px) and (orientation: portrait) {
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image: url("../img/background-por.jpg");
    background-color: lightblue;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; }
    body a {
      text-decoration: none; }
    body nav {
      width: 100%;
      height: 200px;
      font-family: 'Baloo', cursive; }
      body nav img {
        height: 180px;
        margin: 10px 0 10px 10px;
        float: left; }
      body nav .hamburger {
        height: 70px;
        width: 100px;
        float: right;
        right: 10%;
        top: 65px;
        position: relative; }
        body nav .hamburger .line1, body nav .hamburger .line2, body nav .hamburger .line3 {
          width: 100%;
          height: 20%;
          background-color: #162EA6;
          transition: transform .4s, top .4s;
          position: absolute; }
        body nav .hamburger .line1 {
          top: 0; }
        body nav .hamburger .line2 {
          top: 40%; }
        body nav .hamburger .line3 {
          bottom: 0; }
        body nav .hamburger .change1 {
          top: 40%;
          transform: rotate(45deg); }
        body nav .hamburger .change2 {
          top: 40%;
          transform: rotate(-45deg); }
      body nav .wrap {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 200px;
        position: absolute; }
        body nav .wrap .navBar {
          width: 50%;
          height: 100%;
          background-color: #E8E8E8;
          float: right; }
          body nav .wrap .navBar .one {
            margin-top: 200px; }
          body nav .wrap .navBar a {
            margin: 50px 0 0 30px;
            display: block; }
            body nav .wrap .navBar a p {
              font-size: 50px; }
    body .section {
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      overflow: auto;
      -ms-overflow-style: none;
      text-align: center; }
      body .section .dest {
        padding: 1%;
        width: 29%;
        display: inline-block;
        cursor: pointer; }
        body .section .dest img {
          border-radius: 50%;
          width: 100%;
          box-shadow: none; }
        body .section .dest h2 {
          font-size: 2vh; }
      body .section .let {
        color: #ffb31a; }
      body .section .let:hover img {
        box-shadow: inset -10px -10px 100px 1px #fcef00; }
      body .section .zim {
        color: #1ab2ff; }
      body .section .zim:hover img {
        box-shadow: inset -10px -10px 100px 1px #1ab2ff; }
      body .section .met {
        color: #ff4d88; }
      body .section .met:hover img {
        box-shadow: inset -10px -10px 100px 1px #ff4d88; }
      body .section .ban {
        color: #47d147; }
      body .section .ban:hover img {
        box-shadow: inset -10px -10px 100px 1px #47d147; }
      body .section .dal {
        color: #ffbf00; }
      body .section .dal:hover img {
        box-shadow: inset -10px -10px 100px 1px #ffbf00; }
      body .section .sho {
        color: #cc9900; }
      body .section .sho:hover img {
        box-shadow: inset -10px -10px 100px 1px #cc9900; }
      body .section .izl {
        color: #00b33c; }
      body .section .izl:hover img {
        box-shadow: inset -10px -10px 100px 1px #00b33c; }
      body .section #ret-but {
        float: left;
        width: 10%;
        margin: 1%; }
      body .section .veca {
        width: 100%; }
      body .section p {
        font-size: 2vh;
        text-align: left; } }

/*# sourceMappingURL=mobilePortrait.css.map */
