<a class="destinacije" href="templates\izleti\izleti.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\djavolja-veca.jpg" alt="Djavolja varoš">
<h2 class="izl">Djavolja varoš</h2>
<p class="info">Ako su u pravu ovdašnji meštani, “ne treba se šegačiti s Đavoljom varoši”. Valja joj prići kao daru s neba (od prirode ili Boga, kome šta više odgovara) i od nje napraviti svetsku atrakciju. Još jedna od legendi kaže da su više sile okamenile svatove na sto godina, da se dozovu pameti, ali da su na njih, očigledno, zaboravile. Ovaj lokalitet bismo morali da “iskoristimo” pre nego se te “više sile” sete i vrate sve u prvobitno stanje.
</p>


<script src="jquery/side.js"></script>