<h1 class="let">Izleti</h1>
<a class="dest izl" href="templates\izleti\mokra.html">    
    <img src="img\mokra.jpg" alt="Mokra Gora">
    <h2>Mokra Gora</h2>
</a> 

<a class="dest izl" href="templates\izleti\sarajevo.html">   
    <img src="img\sarajevo.jpg" alt="Sarajevo">
    <h2>Sarajevo</h2>
</a> 

<a class="dest izl" href="templates\izleti\djavolja.html"> 
    <img src="img\djavolja.jpg" alt="Djavolja varoš">
    <h2>Djavolja varoš</h2>
</a>

<a class="dest izl" href="templates\izleti\srebrno.html">  
    <img src="img\srebrno.jpg" alt="Srebrno jezero">
    <h2>Srebrno jezero</h2>
</a>

<script src="js/side.js"></script> 