<a class="destinacije" href="templates\izleti\izleti.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\srebrno-veca.jpg" alt="Srebrno jezero">
<h2 class="izl">Srebrno jezero</h2>
<p class="info">Srebrno jezero, jedno je od najlepših jezera u Srbiji i jedno je od omiljenih izletišta turista i ribolovaca. Nalazi se na lokaciji okruženoj atraktivnim istorijskim i kulturnim lokalitetima kao što su Gvozdena vrata, Viminacium, arheološko nalazište Lepenski vir, Golubačka tvrđava i mnoga druga.
</p>


<script src="jquery/side.js"></script>