<a class="destinacije" href="templates\letovanje\letovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	 
</a>
 
<img class="veca" src="img\greece-veca.jpg" alt="Grčka">
<p class="info">Grčka izlazi na Egejsko, Jonsko, i na Mediteransko more. Klima je sredozemna, sa blagim i vlažnim zimama i sunčanim i vrelim letima. Za Grčku se kaže da je zemlja moreplovaca, zemlja tri hiljade ostrva, predivnih plaža, zemlja Zevsa, Poseidona, Apolona, Afrodite…. Zemlja Platona, Aristotela, Sokrata… Zemlja kojoj su dale pečat mnoge civilizacije – Krit, Mikena, Epidaurus, Delfi, Rimljani, Vizantija… Zemlja u kojoj se nalaze Sveta Gora i Meteori.
</p>
    
<a class="destinacije" href="templates\letovanje\grcka\paralija.html">
    <div class="dest let">
        <img src="img\paralija.jpg" alt="Paralija">
        <h2>Paralija</h2>
     </div>
</a>
<a class="destinacije" href="templates\letovanje\grcka\halkidiki.html">
    <div class="dest let">
        <img src="img\halkidiki.jpg" alt="Halkidiki">
        <h2>Halkidiki</h2>
    </div> 
</a>
<a class="destinacije" href="templates\letovanje\grcka\stavros.html">
    <div class="dest let">
        <img src="img\stavros.jpg" alt="Stavros">
        <h2>Stavros</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\grcka\lefkada.html">
    <div class="dest let">
        <img src="img\lefkada.jpg" alt="Lefkada"> 
        <h2>Lefkada</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\grcka\zakintos.html">
    <div class="dest let">
        <img src="img\zakintos.jpg" alt="Zakintos">
        <h2>Zakintos</h2>
    </div>
</a>



<script src="jquery/side.js"></script>