<a href="templates\zimovanje\slovenia\slovenia.html">
    <img id="ret-but" src="img\return-button.png" alt="Return button icon">	 
</a>
<h2 class="zim">Bled</h2>
<img class="veca" src="img\bled-veca.jpg" alt="Bled">

<p class="info">Kada sneg okuje Bled i kad se šumovite zaravni Jelovice i Pokljuke zaodenu belim pokrivačem, pogled na ovaj dragulj sa monumentalnog zamka, koji je na strmoj, stenovitoj litici iznad jezera, identičan je najlepšim bajkama. Bled je dragulj, dar prirode, nešto posve neobično i veličanstveno, nešto što treba videti, doživeti i čemu se, ako je ikako moguće, obavezno treba vratiti.    
</p>


<script src="js/side.js"></script>