<a class="destinacije" href="templates\zimovanje\slovenia\slovenia.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\kranjska-veca.jpg" alt="Kranjska Gora">
<h2 class="zim">Kranjska Gora</h2>
<p class="info">Prvi ski liftovi u Sloveniji izgrađeni su u Kranjskoj Gori, gradiću na obodu Nacionalnog parka Triglav, kod same granice sa Austrijom i Italijom. Zbog impresivnih pejzaža Julijskih Alpa, ogromnih šuma između Mojstrane i Ratečea, Kranjska Gora pored skijaša privlači i hajkere, alpiniste, i bicikliste.   
</p>


<script src="jquery/side.js"></script>