<a class="destinacije" href="templates\zimovanje\slovenia\slovenia.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\pohorje-veca.jpg" alt="Mariborsko Pohorje">
<h2 class="zim">Mariborsko Pohorje</h2>
<p class="info">Mariborsko Pohorje je najveći skijaški centar u Sloveniji. Zimovanje na Pohorju, gde svake godine boravi više od 5.000 turista, postalo je veoma povoljno za građane Srbije od ukidanja viza. Na skijalištu je zagarantovano 100 dana snega u sezoni i dodatnih 95 odsto zasneživanja.    
</p>


<script src="jquery/side.js"></script>