<a href="templates\zimovanje\zimovanje.html">
    <img id="ret-but" src="img\return-button.png" alt="Return button icon">	 
</a>

<img class="veca" src="img\slovenia-veca.jpg" alt="Slovenija"> 
<h2 class="let">Slovenija</h2>
<p class="info"> Tako malena da biste je mogli prevaliti peške. A tako velika da je možete istraživati u nedogled. Zelena zemlja u srcu Europe, na stecištu Alpa, Mediterana i Panonske nizije, iznenađuje svojom raznolikošću.
</p>
    
<a class="dest zim" href="templates\zimovanje\slovenia\kranjska.html">
    <img src="img\kranjska.jpg" alt="Kranjska Gora">
    <h2>Kranjska Gora</h2>
</a>

<a class="dest zim" href="templates\zimovanje\slovenia\bled.html">
    <img src="img\bled.jpg" alt="Bled">
    <h2>Bled</h2>
</a>

<a class="dest zim" href="templates\zimovanje\slovenia\pohorje.html">
    <img src="img\pohorje.jpg" alt="Mariborsko Pohorje">
    <h2>Mariborsko Pohorje</h2>
</a>



<script src="js/side.js"></script>