<a class="destinacije" href="templates\zimovanje\zimovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\slovenia-veca.jpg" alt="Slovenija"> 
<p class="info"> Tako malena da biste je mogli prevaliti peške. A tako velika da je možete istraživati u nedogled. Zelena zemlja u srcu Europe, na stecištu Alpa, Mediterana i Panonske nizije, iznenađuje svojom raznolikošću.
</p>
    
<a class="destinacije" href="templates\zimovanje\slovenia\kranjska\kranjska.html">
    <div class="dest zim">
        <img src="img\kranjska.jpg" alt="Kranjska Gora">
        <h2>Kranjska Gora</h2>
    </div>
</a>
<a class="destinacije" href="templates\zimovanje\slovenia\bled\bled.html">
    <div class="dest zim">
        <img src="img\bled.jpg" alt="Bled">
        <h2>Bled</h2>
    </div> 
</a>
<a class="destinacije" href="templates\zimovanje\slovenia\pohorje\pohorje.html">
    <div class="dest zim">
        <img src="img\pohorje.jpg" alt="Mariborsko Pohorje">
        <h2>Mariborsko Pohorje</h2>
    </div>
</a>



<script src="jquery/side.js"></script>