<a class="destinacije" href="templates\letovanje\tunis\tunis.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\hamamet-veca.jpg" alt="Hamamet">
<h2 class="let">Hamamet</h2>
<p class="info">Zahvaljujući milioneru rumunskog porekla Džordžu Sebastijanu, kome se dvadesetih godina prošlog veka dopalo malo ribarsko selo Hamamet, gde je odlučio da napravi vilu, Tunis postaje omiljena destinacija mnogih bogataša. Poslednjih godina u blizini je izgrađen Jasmin Hamamet koji neodoljivo podseća na evropska mondenska letovališta. 
</p>


<script src="jquery/side.js"></script>