<a class="destinacije" href="templates\letovanje\tunis\tunis.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\port-veca.jpg" alt="Port el Kantui">
<h2 class="let">Port el Kantui</h2>
<p class="info">Glumac Silvester Stalone je, tražeći mirnu luku, usidrio jahtu u Port el Kantui i “prizvao” turiste iz celog sveta. Tunižani su, naravno, imali sluha za takve stvari i odmah su počeli izgradnju turističkog mesta, koje je jedno od najlepših u zemlji, sa prelepim šetalištem, marinom i hotelima. 
</p>


<script src="jquery/side.js"></script>