<a class="destinacije" href="templates\zimovanje\srbija\srbija.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\goc-veca.jpg" alt="Goč">
<h2 class="zim">Goč</h2>
<p class="info">Zimski raspust je prilika da roditelji sa svojom decom odu na skijanje, a sve više njih se odlučuje i za Goč koji skijašima nudi dve ski staze dužine od 500 m, idealne za prve korake na snegu, dok oni iskusniji mogu uživati u spustu, jer je visinska razlika od podnožja do vrha staze, čak 150 metara. 
</p>


<script src="jquery/side.js"></script>