<a class="destinacije" href="templates\zimovanje\srbija\srbija.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\Kopaonik-veca.jpg" alt="Kopaonik">
<h2 class="zim">Kopaonik</h2>
<p class="info">Ko nije prošetao skije po Pančićevom vrhu - nije ni išao na zimovanje. Tačnije, ko nije popio preskupi čaj u lobiju hotela "Grand" - taj ne drži do sebe. Konaci imaju mnogobrojne radnje koje već u februaru skinu cene. Međutim, najveća prednost Kopaonika je noćni provod.  
</p>


<script src="jquery/side.js"></script>