<a class="destinacije" href="templates\zimovanje\zimovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\srbija-veca.jpg" alt="Srbija">
<p class="info"> U Srbiji se svake godine povećava broj onih koji hladne dane provode u nekim od domaćih i stranih ski centara. Godišnje se sklopi oko 500.000 turističkih aranžmana, a petina se odnosi upravo na zimovanje. Najviše skijaša upravo odlazi na srpske planine.
</p>
  
<a class="destinacije" href="templates\zimovanje\srbija\kopaonik\kopaonik.html">
    <div class="dest zim">
        <img src="img\kopaonik.jpg" alt="Kopaonik">
        <h2>Kopaonik</h2>
    </div>
</a>
<a class="destinacije" href="templates\zimovanje\srbija\zlatibor\zlatibor.html">
    <div class="dest zim">
        <img src="img\zlatibor.jpg" alt="Zlatibor">
        <h2>Zlatibor</h2>
    </div> 
</a>
<a class="destinacije" href="templates\zimovanje\srbija\goc\goc.html">
    <div class="dest zim">
        <img src="img\goc.jpg" alt="Goč">
        <h2>Goč</h2>
    </div>
</a>
<a class="destinacije" href="templates\zimovanje\srbija\stara\stara.html">
    <div class="dest zim">
        <img src="img\stara.jpg" alt="Stara planina"> 
        <h2>Stara planina</h2>
    </div>
</a>



<script src="jquery/side.js"></script>