<a class="destinacije" href="templates\zimovanje\srbija\srbija.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\stara-veca.jpg" alt="Stara planina">
<h2 class="zim">Stara planina</h2>
<p class="info">Nedaleko pored Knjaževca nalazi se Stara planina, najveća planina u istočnoj Srbiji. Visokoplaninski masiv prostire se kao prirodna granica prema Bugarskoj fascinantne lepote i netaknute prirode. Kao jedna od najlepših planina naše zemlje predstavlja ogroman potencijal za razvoj turizma. Gotovo pet meseci godišnje ova srpska lepotica nalazi se pod snegom. 
</p>


<script src="jquery/side.js"></script>