<a class="dest" href="templates\zimovanje\zimovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\austria-veca.jpg" alt="Austrija"> 
<p class="info">Austrija ima veliki broj skijaških centara, u glavnom srednje veličine. Austrijski ski centri nisu glamurozni kao u Švajcarskoj i Francuskoj, ali su često prijatniji, bez hordi turista, i nešto jeftiniji.
</p>

<a class="dest zim" href="templates\zimovanje\austria\bad.html">
    <img src="img\bad.jpg" alt="Bad Klajnkirhajm">
    <h2>Bad Klajnkirhajm</h2>
</a>

<a class="dest zim" href="templates\zimovanje\austria\kaprun.html">
    <img src="img\kaprun.jpg" alt="Kaprun">
    <h2>Kaprun</h2>
</a>

<a class="dest zim" href="templates\zimovanje\austria\nasfeld.html">
    <img src="img\nasfeld.jpg" alt="Nasfeld">
    <h2>Nasfeld</h2>
</a>



<script src="js/side.js"></script>