<a class="destinacije" href="templates\zimovanje\zimovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\austria-veca.jpg" alt="Austrija"> 
<p class="info">Austrija ima veliki broj skijaških centara, u glavnom srednje veličine. Austrijski ski centri nisu glamurozni kao u Švajcarskoj i Francuskoj, ali su često prijatniji, bez hordi turista, i nešto jeftiniji.
</p>

<a class="destinacije" href="templates\zimovanje\austria\bad\bad.html">
    <div class="dest zim">
        <img src="img\bad.jpg" alt="Bad Klajnkirhajm">
        <h2>Bad Klajnkirhajm</h2>
    </div>
</a>
<a class="destinacije" href="templates\zimovanje\austria\kaprun\kaprun.html">
    <div class="dest zim">
        <img src="img\kaprun.jpg" alt="Kaprun">
        <h2>Kaprun</h2>
    </div> 
</a>
<a class="destinacije" href="templates\zimovanje\austria\nasfeld\nasfeld.html">
    <div class="dest zim">
        <img src="img\nasfeld.jpg" alt="Nasfeld">
        <h2>Nasfeld</h2>
    </div>
</a>



<script src="jquery/side.js"></script>