<a class="destinacije" href="templates\zimovanje\austria\austria.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\bad-veca.jpg" alt="Bad Klajnkirhajm">
<h2 class="zim">Bad Klajnkirhajm</h2>
<p class="info">Bad Klajnkirhajm je vrlo poznat i dobro uredjen zimski centar u okrugu Karintije (Koruške), orijentisan na porodični odmor. Više od 100 kilometara staza raznih težina su na padinama planine Klajnkirhajm i susednog Svetog Osfalda. Sve su povezane sistemom žičara. Svako može u njemu naći neku stazu za sebe, početnici kao i profesionalci. Posle skijanja može se svratiti na kupanje do otvorenih bazena sa termalnom vodom, u rimske terme ili na masažu. Večeri su predvidjene za noćne klubove, barove, diskoteke i restorane kojih ima u izobilju. Najbliži mestu je Klagenfurt, udaljen 54 kilometara. 
</p>


<script src="jquery/side.js"></script>