<a class="destinacije" href="templates\zimovanje\austria\austria.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\kaprun-veca.jpg" alt="Kaprun">
<h2 class="zim">Kaprun</h2>
<p class="info">Slikovito tradicionalno austrijsko mesto koje se odlikuje bogatom ponudom kvalitetnog smeštaja. Skijalište se nalazi ispod glečera Kicštajnhorn (Kitzsteinhorn) što omogućava dugu sezonu, čak i do 10 meseci. Kaprun ima 50 km staza i udaljen je 9 km od mesta Zell am See. Prednost oba mesta je blizina grada Salcburga i to što su međusobno dobro povezana. Ski bus i sistem žičara su uključeni u jedan ski pas koji pokriva oba mesta  i čine skijalište od ukupno 134 km ski staza. 
</p>


<script src="jquery/side.js"></script>