<a class="destinacije" href="templates\zimovanje\austria\austria.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\nasfeld-veca.jpg" alt="Nasfeld">
<h2 class="zim">Nasfeld</h2>
<p class="info">Skijalište u Nasfeldu, koje se punim imenom zove Skiarena Nassfeld-Hermagor, nalazi se u blizini gradića Hermagor u regiji Koruška. Ovo je jedno od najpoznatijih i najboljih austrijskih skijališta u ovoj regiji. Posebnost skijališta je da se jedan deo staza nalazi u Italiji, a drugi deo u Austriji. 
</p>


<script src="jquery/side.js"></script>