<a class="destinacije" href="templates\letovanje\egipat\egipat.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\hurgada-veca.jpg" alt="Hurgada">
<h2 class="let">Hurgada</h2>
<p class="info">Na zapadnoj obali Crvenog mora, Hurgada je sve popularnija na listi najpoželjnijih letnjih odmarališta. Budući da je to moderan grad, do samo pre nekoliko godina ribarsko seoce, manjka joj kulturne baštine i istorijskih spomenika, ali je spoj zabavnih ekskurzija i all inclusive aranžmana čine mamcem za turiste. 
</p>


<script src="jquery/side.js"></script>