<a class="destinacije" href="templates\letovanje\egipat\egipat.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\sarm-veca.jpg" alt="Šarm el-Šeik">
<h2 class="let">Šarm el-Šeik</h2>
<p class="info">Šarm el-Šeik, izuzetno popularna i poznata turistička destinacija smeštena na južnom delu Sinajskog poluostrva, svake sezone privlači sve više turista. Samo Sinajsko poluostrvo predstavlja spoj planinskih i pustinjskih predela i ovakva kombinacija je svakako predivan prizor. Uz predivne plaže i bezbrižno izležavanje pod suncem, još jedna stvar privlači ljude ovom gradu. Šarm predstavlja jedno od najboljih i najlepših mesta za ronjenje i nudi nezaboravne ekskurzije u pustinji. Ovo mesto se može pohvaliti i prelepim peščanim plažama, egzotičnom i bogatom florom i faunom. 
</p>


<script src="jquery/side.js"></script>