<a class="destinacije" href="templates\letovanje\turska\turska.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\antalija-veca.jpg" alt="Antalija">
<h2 class="let">Antalija</h2> 
<p class="info">Antalija je grad u Turskoj u vilajetu Antalija. Nalazi se na mediteranskoj obali. Kada dodete u ovaj biser takozvane Turske rivijere, primeticete da je podeljen na dva dela: jedan je savremeni, sa širokim ulicama i bulevarima, modernim stambenim i poslovnim zgradama, bogat sadrzajima nocnog zivota, dok je drugi deo stari grad, Kaleici, podignut oko stare luke, danas pretvoren u turisticko srce grada. Plaža Lara, duga 8 km, sa brojnim luksuznim hotelima nalazi se na svega 10 km od aerodroma u Antaliji, a plaža Konyaalti na oko 15 km. Između ovih plaža je visoka litica sa koje se spušta reka Duden i uliva u Sredozemno more praveći vodopad visine 15 m. 
</p>



<script src="jquery/side.js"></script>