<a class="destinacije" href="templates\letovanje\turska\turska.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\bodrum-veca.jpg" alt="Bodrum">
<h2 class="let">Bodrum</h2> 
<p class="info">Bodrum je popularno turističko letovalište na obali Egejskog mora i luka u provinciji Mugla. Po mišljenju brojnih ljubitelja putovanja, Bodrum je najprivlačnije i najizazovnije tursko letovalište, ali i najlepši grad na obalama Egejskog mora. Stecište je umetnika, boema, bogatog sveta... Bogato istorijsko i kulturno nasleđe, fascinantna priroda i predivne plaže, luka sa marinom za jahte, kao i moderni hoteli sa svim mogućim sadržajima za nezaboravan odmor, uz nesvakidašnji šarm grada i još mnogo toga drugog čine ga biser-letovalištem Egejskog mora.
</p>



<script src="jquery/side.js"></script>