<a class="destinacije" href="templates\letovanje\turska\turska.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\kusadasi-veca.jpg" alt="Kušadasi">
<h2 class="let">Kušadasi</h2> 
<p class="info">Kušadasi je primorski grad u Turskoj i veoma popularno letovališ na obali Egejskog mora. Nekadašnje malo primorsko mesto na obalama Egejskog mora, u oblasti Ajdin, vremenom je izraslo u grad hotela, poznat po tradicionalnom gostoprimstvu.  Godišnje Kušadasi ima u proseku oko 300 sunčanih dana.
</p>



<script src="jquery/side.js"></script>