<a class="destinacije" href="templates\letovanje\turska\turska.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\marmaris-veca.jpg" alt="Marmaris">
<h2 class="let">Marmaris</h2> 
<p class="info">Marmaris je poznato letovalište u Turskoj, na oblama Egejskog mora. Nekada je bio samo malo ribarsko naselje danas je preraslo u moderan turisticki grad, jedan od najlepših  na jugozapadnoj obali Turske. Marmaris nudi ugodan odmor u grckom stilu i sa svojim cudesnim plažama, lepom obalom, ljubaznim ljudima, dobrom hranom i u novije vreme sagradenim prestižnim hotelima Marmaris je postao jedno od najlepših mesta za odmor. Čuven je po bučnom i veselom nocnom životu, velikom broju restorana, klubova i barova koji se protežu duž cele obale. Svakako ne treba propustiti vece sa trbušnim plesacicama uz orijentalnu muziku.
</p>

<script src="jquery/side.js"></script>