<a class="destinacije" href="templates\letovanje\letovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">  
</a>

<img class="veca" src="img\turska-veca.jpg" alt="Turska">
<p class="info">Turska je država koja se najvećim delom smestila na poluostrvu Anatoliji, između Crnog i Sredozemnog mora. Tokom Vašeg ODMORA u Turskoj uživaćete u njihovoj kuhinji koja je bogata začinima, od malih zalogaja „meze“ do „kebaba“, različitih vrsta ražnjića koji najbolje prijaju uz „ayran“, slani jogurt, ili u raskošnim poslasticama živih boja. Iskusite živahan ritam i upoznajte okretne turske prodavce na bazarima s kojih ćete se sigurno vratiti s ponekim suvenirom-zlatninom ili srebrninom, šarenim ćilimom ili kožnim predmetima. I za kraj, nakon razgledanja i izleta, koje Vam preporučujemo kako biste još bolje upoznali Tursku, opustite se uz već poznatu dobru tursku kafu za koju kažu da je „crna kao noć, slatka kao ljubav, kratka kao život i jaka kao žena“.</p>
    
<a class="destinacije" href="templates\letovanje\turska\kusadasi\kusadasi.html">
    <div class="dest let">
        <img src="img\kusadasi.jpg" alt="Kusadasi">
        <h2>Kusadasi</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\turska\antalija\antalija.html">
    <div class="dest let">
        <img src="img\antalija.jpg" alt="Antalija">
        <h2>Antalija</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\turska\bodrum\bodrum.html">
    <div class="dest let">
        <img src="img\bodrum.jpg" alt="Bodrum">
        <h2>Bodrum</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\turska\marmaris\marmaris.html">
    <div class="dest let">
        <img src="img\marmaris.jpg" alt="Marmaris">
        <h2>Marmaris</h2>
    </div>
</a>


<script src="jquery/side.js"></script>