<a class="destinacije" href="templates\letovanje\montenegro\montenegro.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\becici-veca.jpg" alt="Bečići">
<h2 class="let">Bečići</h2>
<p class="info">Bečići su mesto u opštini Budva u Crnoj Gori. Bečići imaju plažu dugu skoro 2 km, koja je među najlepšim u Crnoj Gori i južnom Jadranu. Reljef Bečića je  jedan od glavnih razloga zašto turisti vole ovo mesto. Ono se nalazi izmedju predivnog kontrasta planina sa jedne strane i plavetnila mora sa druge.
</p>



<script src="jquery/side.js"></script>