<a class="destinacije" href="templates\letovanje\montenegro\montenegro.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\budva-veca.jpg" alt="Budva">
<h2 class="let">Budva</h2>
<p class="info">Budva jeste destinacija za one koji odmor ne mogu da zamisle bez noćnog provoda, gužve, klubova... ali u prestonici crnogorskog turizma, i te kako dobro mogu da se odmore i oni koji na letovanju traže mir i lepe plaže. 
</p>



<script src="jquery/side.js"></script>