<a class="destinacije" href="templates\letovanje\montenegro\montenegro.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\herceg-veca.jpg" alt="Herceg Novi">
<h2 class="let">Herceg Novi</h2>
<p class="info">Grad cveća, sunca, glumaca, slikara i pesnika, smešten je na terasama obronaka Orjenske planine. Sa njegovih tvrđava i skalina vidi se sav Bokokotorski zaliv, a domaćini su spremni za sve turističke želje, pa i ako doplatite da uveče čuvaju vaše dete dok spava da biste mogli da udahnete još više noćnog života. Ima i starijih gradova na ovoj obali, možda lepših i bogatijih, ali Herceg Novi ima izazovan i nesvakidašnji koktel klime, prirodnih bogatstava i retkog rastinja, izuzetnih kulturno-istorijskih spomenika i zdravstvenog turizma da nema čoveka koji za sebe ne može ovde naći prostor za odmor i uživanje. 
</p>


<script src="jquery/side.js"></script>