<a class="destinacije" href="templates\letovanje\montenegro\montenegro.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\rafailovici-veca.jpg" alt="Rafailovići">
<h2 class="let">Rafailovići</h2>
<p class="info">Rafailovići su malo ribarsko mesto ispred koga se nalazi velika Bečićka plaža dugačka oko 2000 metara, sa peskom i kristalno čistim morem. Klima je mediteranska sa oko 226 sunčanih dana u godini. Budva je pešačkom stazom udaljena oko 3 km, koja se proteže uz samu obalu, spojena sa Rafailovićima, a vozić saobraća stazom svakih 10 - 15 minuta. Sveti Stefan je udaljen 2km a svakoga dana na 30 minuta idu brodići do Sv. Stefana, Budve, Kraljičine plaže i svih ostalih plaža u okolini.
</p>



<script src="jquery/side.js"></script>