<a class="destinacije" href="templates\letovanje\montenegro\montenegro.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\sutomore-veca.jpg" alt="Sutomore">
<h2 class="let">Sutomore</h2>
<p class="info">Sutomore spada u jedno od najpopularnijih i najpoznatijih letovališta na Crnogorskom primorju. Planinski lanci u pozadini, široka peščana plaža i otvoreno more doprineli su uticaju stvaranja povoljne klime zahvaljujući koojoj turistička sezona u Sutomoru traje od druge polovine maja do sredine Oktobra. Ono po čemu se Sutomore izdvaja u odnosu na druge primorske centre su svakako povoljne cene i odlična zabava, pa je samim tim Sutomore omiljena destinacija kod mlađe populacije preko celog leta!
</p>



<script src="jquery/side.js"></script>