
<div class="dest">
    <img src="img\grcka.jpg" alt="Grčka">
    <a href="templates\letovanje\grcka\grcka.html">">Grčka</a>
</div>


<div class="dest let" href=>
    <img src="img\montenegro.jpg" alt="Montenegro">
    <a href=""templates\letovanje\montenegro\montenegro.html"">Crna Gora</a>
</div>

<a class="dest let" href="templates\letovanje\turska\turska.html"> 
    <img src="img\turska.jpg" alt="Turska">
    <h2>Turska</h2>
</a>

<a class="dest let" href="templates\letovanje\bugarska\bugarska.html">  
    <img src="img\bugarska.jpg" alt="Bugarska">
    <h2>Bugarska</h2>
</a> 

<a class="dest let" href="templates\letovanje\tunis\tunis.html"> 
    <img src="img\tunis.jpg" alt="Tunis">
    <h2>Tunis</h2>
</a>

<a class="dest let" href="templates\letovanje\spanija\spanija.html">  
    <img src="img\spanija.jpg" alt="Španija">
    <h2>Španija</h2>
</a> 

<a class="dest let" href="templates\letovanje\egipat\egipat.html"> 
    <img src="img\egipat.jpg" alt="Egipat">
    <h2>Egipat</h2>
</a>


<script src="js/side.js"></script>
