<a class="destinacije" href="templates\daleke\daleke.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\bali-veca.jpg" alt="Bali">
<h2 class="dal">Bali</h2>
<p class="info">U dalekoj Indoneziji, na samom obodu Indijskog okeana smešteno je maleno, tropsko ostrvo Bali. Ostrvo koje zadivljuje svojom lepotom kako prirode tako i ljudskih tvorevina sagrađenih u minulim vekovima. Ostrvo koje je potpuno odolelo modernizaciji i globalizaciji i na kome se još uvek živi po pravilima koja se decenijama nisu menjala.
</p>


<script src="jquery/side.js"></script>