
<a class="dest dal" href="templates\daleke\dubai.html">    
    <img src="img\dubai.jpg" alt="Dubai">
    <h2>Dubai</h2>
</a> 

<a class="dest dal" href="templates\daleke\tajland.html">   
    <img src="img\tajland.jpg" alt="Tajland">
    <h2>Tajland</h2>
</a> 

<a class="dest dal" href="templates\daleke\kuba.html"> 
    <img src="img\kuba.jpg" alt="Kuba">
    <h2>Kuba</h2>
</a>

<a class="dest dal" href="templates\daleke\maldivi.html">  
    <img src="img\maldivi.jpg" alt="Maldivi">
    <h2>Maldivi</h2>
</a>

<a class="dest dal" href="templates\daleke\njujork.html">  
    <img src="img\njujork.jpg" alt="Njujork">
    <h2>Njujork</h2>
</a>

<a class="dest dal" href="templates\daleke\bali.html">  
    <img src="img\bali.jpg" alt="Bali">
    <h2>Bali</h2>
</a>
     

<script src="js/side.js"></script> 