
<a class="destinacije" href="templates\daleke\dubai.html">    
    <div class="dest dal">
        <img src="img\dubai.jpg" alt="Dubai">
        <h2>Dubai</h2>
    </div>
</a> 
<a class="destinacije" href="templates\daleke\tajland.html">   
    <div class="dest dal">
        <img src="img\tajland.jpg" alt="Tajland">
        <h2>Tajland</h2>
    </div>
</a> 
<a class="destinacije" href="templates\daleke\kuba.html"> 
    <div class="dest dal">
        <img src="img\kuba.jpg" alt="Kuba">
        <h2>Kuba</h2>
    </div>
</a>
<a class="destinacije" href="templates\daleke\maldivi.html">  
    <div class="dest dal">
        <img src="img\maldivi.jpg" alt="Maldivi">
        <h2>Maldivi</h2>
    </div>
</a>
<a class="destinacije" href="templates\daleke\njujork.html">  
    <div class="dest dal">
        <img src="img\njujork.jpg" alt="Njujork">
        <h2>Njujork</h2>
    </div>
</a>
<a class="destinacije" href="templates\daleke\bali.html">  
    <div class="dest dal">
        <img src="img\bali.jpg" alt="Bali">
        <h2>Bali</h2>
    </div>
</a>
     

<script src="jquery/side.js"></script> 