<a class="destinacije" href="templates\daleke\daleke.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\kuba-veca.jpg" alt="Kuba">
<h2 class="dal">Kuba</h2>
<p class="info">Zbog toga što je priroda prema ovom karipskom ostrvu bila izuzetno darežljiva, mnogi kažu da je Kuba istinski raj na zemlji. Zbog političkog sistema i poluvekovnog prkosa obližnjim Sjedinjenim Državama, Kubu zovu i Ostrvom slobode. U svakom slučaju, odmor u ovoj zemlji donosi iskustvo koje je teško uporediti sa bili čim drugim. Zato Kubu opsedaju armije turista iz celog sveta   
</p>


<script src="jquery/side.js"></script>