<a class="destinacije" href="templates\daleke\daleke.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
  </a>

<img class="veca" src="img\maldivi-veca.jpg" alt="Maldivi">
<h2 class="dal">Maldivi</h2>
<p class="info">Jedna je od najpoželjnijih destinacija. Evropljani i Amerikanci žele da upravo na Maldivima osete i dožive komadić raja. Plavetnilo i bistrina mora, nasmejano i veselo lokalno stanovništvo koje je naklonjeno turistima glavni su aduti ove turizmu okrenute države.   
</p>


<script src="jquery/side.js"></script>