<a class="destinacije" href="templates\daleke\daleke.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\tajland-veca.jpg" alt="Tajland">
<h2 class="dal">Tajland</h2>
<p class="info">U poslednjoj deceniji Tajland je postao jedna od najatraktivnijih destinacija na svetu. Svake godine hiljade ljudi poseti Muang Tai (kako ga Tajlanđani zovu) u potrazi za nezaboravnim odmorom.  
</p>


<script src="jquery/side.js"></script>