<a class="destinacije" href="templates\zimovanje\srbija\srbija.html">    
    <div class="dest zim">
        <img src="img\srbija.jpg" alt="Srbija">
        <h2>Srbija</h2>
    </div>
</a> 
<a class="destinacije" href="templates\zimovanje\bosna\jahorina.html">   
    <div class="dest zim">
        <img src="img\bosna.jpg" alt="Bosna">
        <h2>Bosna</h2>
    </div>
</a> 
<a class="destinacije" href="templates\zimovanje\bugarska-zima\bugarska-zima.html"> 
    <div class="dest zim">
        <img src="img\bugarskazima.jpg" alt="Bugarska">
        <h2>Bugarska</h2>
    </div>
</a>
<a class="destinacije" href="templates\zimovanje\slovenia\slovenia.html">  
    <div class="dest zim">
        <img src="img\slovenia.jpg" alt="Slovenija">
        <h2>Slovenija</h2>
    </div>
</a>
<a class="destinacije" href="templates\zimovanje\austria\austria.html">  
    <div class="dest zim">
        <img src="img\austria.jpg" alt="Austrija">
        <h2>Austrija</h2>
    </div>
</a>  

<script src="jquery/side.js"></script>  