<h1 class="let">Zimovanje</h1>

<a class="dest zim" href="templates\zimovanje\srbija\srbija.html">    
    <img src="img\srbija.jpg" alt="Srbija">
    <h2>Srbija</h2>
</a> 

<a class="dest zim" href="templates\zimovanje\jahorina.html">   
    <img src="img\bosna.jpg" alt="Bosna">
    <h2>Jahorina</h2>
</a> 

<a class="dest zim" href="templates\zimovanje\bugarska-zima\bugarska-zima.html"> 
    <img src="img\bugarskazima.jpg" alt="Bugarska">
    <h2>Bugarska</h2>
</a>

<a class="dest zim" href="templates\zimovanje\slovenia\slovenia.html">  
    <img src="img\slovenia.jpg" alt="Slovenija">
    <h2>Slovenija</h2>
</a>

<a class="dest zim" href="templates\zimovanje\austria\austria.html">  
    <img src="img\austria.jpg" alt="Austrija">
    <h2>Austrija</h2>
</a>  

<script src="js/side.js"></script>  