<a class="destinacije" href="templates\shop\shop.html">
	<img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\becsho-veca.jpg" alt="Vienna">
<h2 class="sho">Beč</h2>
<p class="info">Glavna šoping zona u Beču je u čuvenoj Mariahilfer Strasse, gde se nalaze velike robne kuće. Južno od Beča nalazi se i najveći šoping centar u Evropi Shopping City Süd. Obavezno treba posetiti i autlet tržni centar Mec Arthur Glen, u Pandorfu, u blizini austrijske prestonice, gde je roba stalno snižena za 30-70 odsto.  
</p>


<script src="jquery/side.js"></script>