<a class="destinacije" href="templates\shop\shop.html">
	<img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\budimpestasho-veca.jpg" alt="Budimpešta">
<h2 class="sho">Budimpešta</h2>
<p class="info">Produženi vikend u Budimpešti odlična je stvar, jer su tri dana sasvim dovoljna za upoznavanje grada i šoping. Dobar izbor je poseta tržnom centru Árkád, blizu železničke stanice Keleti, jer se u istom kompleksu nalaze i Ikea i hipermarket Tesco. Ovde se na rasprodaji može naći garderoba tri puta jeftinija nego u Srbiji.
</p>


<script src="jquery/side.js"></script>