
<a class="dest sho" href="templates\shop\becshop.html">    
    <img src="img\becsho.jpg" alt="Vienna">
    <h2>Beč</h2>
</a> 

<a class="dest sho" href="templates\shop\budimpestashop.html">   
    <img src="img\budimpestasho.jpg" alt="Budimpešta">
    <h2>Budimpešta</h2>
</a> 

<a class="dest sho" href="templates\shop\trst\trst.html"> 
    <img src="img\trst.jpg" alt="Trst">
    <h2>Trst</h2>
</a>

<a class="dest sho" href="templates\shop\solunshop.html">  
    <img src="img\solunsho.jpg" alt="Solun">
    <h2>Solun</h2>
</a>

<script src="js/side.js"></script>