<a class="destinacije" href="templates\shop\shop.html">
	<img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\solunsho-veca.jpg" alt="Solun">
<h2 class="sho">Solun</h2>
<p class="info">Čitav grad je veliki šoping centar. Ulice koje se pružaju paralelno s morem, prepune su najrazličitijih radnji. Treba znati da ovde važi pravilo da što su butici bliže obali, roba je skuplja. Najpopularnije radnje nalaze se u ulicama Nikis, Cimiki i Egnatija, gde se dobre farmerke mogu naći za 10 evra, a zimska jakna za 20-30 evra. 
</p>


<script src="jquery/side.js"></script>