<a class="destinacije" href="templates\shop\shop.html">
	<img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\trst-veca.jpg" alt="Trst">
<h2 class="sho">Trst</h2>
<p class="info">Nekada se u Trst išlo po farmerke, cipele i na espreso. Italija je i dalje kao što je bila, garderoba je vrhunskog kvaliteta i dizajna. Tamo ćete pronaći garderobu svetski poznatih marki po najpovoljnijim cenama, jer je roba tokom cele godine na sniženju. 
</p>


<script src="jquery/side.js"></script>