
<a class="dest ban" href="templates\banje\vrnjacka.html">
    <img src="img\vrnjacka.jpg" alt="Vrnjačka banja">
    <h2>Vrnjačka banja</h2>
</a>

  
<a class="dest ban" href="templates\banje\soko.html">
    <img src="img\soko.jpg" alt="Soko banja">
    <h2>Soko banja</h2>
</a>


<a class="dest ban" href="templates\banje\prolom.html">
    <img src="img\prolom.jpg" alt="Prolom banja">
    <h2>Prolom banja</h2>
</a>


<a class="dest ban" href="templates\banje\ribarska.html">  
    <img src="img\ribarska.jpg" alt="Ribarska banja">
    <h2>Ribarska banja</h2>
</a>

<a class="dest ban" href="templates\banje\bukovicka.html">  
    <img src="img\bukovicka.jpg" alt="Bukovička banja">
    <h2>Bukovička banja</h2>
</a>

<a class="dest ban" href="templates\banje\vrujci.html">  
    <img src="img\vrujci.jpg" alt="Banja Vrujci">
    <h2>Banja Vrujci</h2>
</a>

<a class="dest ban" href="templates\banje\niska.html">  
    <img src="img\niska.jpg" alt="Niška banja">
    <h2>Niška banja</h2>
</a>     

<script src="js/side.js"></script>   