<a class="destinacije" href="templates\banje\banje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\prolom-veca.jpg" alt="Prolom banja">
<h2 class="ban">Prolom banja</h2>
<p class="info">Najpoznatija po vodi koju flašira, Prolom banja se nalazi na visini od 700 m, i okružena je planinskim vrhovima od preko 1 000 m. Banja ima relativno svežu klimu, sa kraćim i hladnijim letima, i dugim snežnim zimama.  
</p>


<script src="jquery/side.js"></script>