<a class="destinacije" href="templates\banje\banje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\soko-veca.jpg" alt="Soko banja">
<h2 class="ban">Soko banja</h2>
<p class="info">Idealna nadmorska visina, ruža vetrova, velika koncentracija negativnih jona - čine je melemom za odmor i rehabilitaciju. Ovo je prva ekološka opština u Srbiji, s pet termomineralnih izvora i naša "kraljica turizma".  
</p>


<script src="jquery/side.js"></script>