<a class="destinacije" href="templates\banje\banje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\vrujci-veca.jpg" alt="Banja Vrujci">
<h2 class="ban">Banja Vrujci</h2>
<p class="info">Banja Vrujci je na samo sat od Beograda. Najviše je turista iz Beograda, Novog Sada i drugih gradova Vojvodine, centralne Srbije, Republike Srpske. Pruža odlične uslove za odmor i okrepljenje. 
</p>


<script src="jquery/side.js"></script>