<a class="destinacije" href="templates\letovanje\spanija\spanija.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\ljoret-veca.jpg" alt="Lloret">
<h2 class="let">Lloret de Mar</h2>
<p class="info">Najpopularnije turističko mesto na Costa Brava, Lloret de Mar je poznato po tome da privlači mlađe turiste, mahom od 18 do 30 godina, jer ima razvijen noćni život i dobre plaže. Lloret de Mar se nalazi samo 70 km od Barselone, tako da su izleti do ovog grada uobičajena stvar.
</p>


<script src="jquery/side.js"></script>