<a class="destinacije" href="templates\letovanje\spanija\spanija.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\majorka-veca.jpg" alt="Majorka">
<h2 class="let">Majorka</h2>
<p class="info">Prvi čarter avion sleteo je na Majorku 1950. godine, i od tada je ovo ostrvo uspelo da postane jedno od najtraženijih turističkih destinacija. Danas Majorku poseti više od 10 miliona turista godišnje. Jedini pravi grad na ostrvu, sa 500.000 stanovnika 12. je po veličini u Španiji. Polovina stanovnika Majorke živi u Palmi. Ovo je grad zadivljujuće arhitekture, koji nudi odličan šoping i veliki broj restorana sa mediteranskim specijalitetima.  
</p>


<script src="jquery/side.js"></script>