<a class="destinacije" href="templates\letovanje\spanija\spanija.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\marbelja-veca.jpg" alt="Marbelja">
<h2 class="let">Marbelja</h2>
<p class="info">Blaga klima i mirne vode Mediterana glavni su razlog zbog kojeg je Marbelja puna turista tokom cele godine. Turistički rizorti se nižu jedan za drugim, i gotovo su spojeni. Noćni život je vrlo razvijen, sa bezbrojnim klubovima, pabovima, restoranima, i kockarnicama. Marbelja je za posetioce koji odsedaju u luksuznim hotelima, pa treba imati u vidu da su cene ovde najviše od svih okolnih mesta.
</p>


<script src="jquery/side.js"></script>