<a class="destinacije" href="templates\letovanje\spanija\spanija.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\tenerife-veca.jpg" alt="Tenerife">
<h2 class="let">Tenerife</h2>
<p class="info">Najveće od Kanarskih ostrva, Tenerife je najpopularnije među turistima iz Britanije i Nemačke, ali sve više i među putnicima iz Srbije. Turizam je na Kanarska ostrva stigao tek sa masovnim korišćenjem putničkih aviona tokom 1960ih, a pre toga je to bio siromašan kraj, u koji su jedine pare stizale od izvoza banana. Ali od 1960-ih, turisti su počeli da se slivaju u milionima, a Kanarska ostrva su ekonomski procvetala, a lokalci dostigli evropski standard života. Tokom narednih decenija nikli su bezbrojni turistički kompleksi, od kojih su mnogi prave džungle od betona.
</p>


<script src="jquery/side.js"></script>