<a class="destinacije" href="templates\letovanje\letovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\egipat-veca.jpg" alt="Egipat">
<p class="info">Za putovanje u prošlost, nije vam potreban vremeplov... Dovoljno je da spakujete kofere i otputujete u Egipat, gde ćete se naći u čudesnom svetu čuvenih faraona, piramida i hijeroglifa... Geografski položaj i umerena klima tokom cele godine, obala i plaže sa jedinstvenim blagom koralnih grebena su ono što osigurava Egiptu mesto medju top destinacijama. Očaraće vas prelepe plaže i još lepše more, prepuno korala i najraznobojnijih morskih stvorenja, piramida, spomenika i interesantnih gradova... mistika Egipta zbog koje ovo putovanje ne smete propustiti.
</p>
    
<a class="destinacije" href="templates\letovanje\egipat\hurgada\hurgada.html">
    <div class="dest let">
        <img src="img\hurgada.jpg" alt="Hurgada">
        <h2>Hurgada</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\egipat\sarm\sarm.html">
    <div class="dest let">
        <img src="img\sarm.jpg" alt="Šarm el-Šeik">
        <h2>Šarm el-Šeik</h2>
    </div> 
</a>



<script src="jquery/side.js"></script>