		<div class="gallery">
			<h1 class="gal">Galerija</h1>
			<a href="img\amsterdam.jpg" data-lightbox="gallery1"><img src="img\amsterdam.jpg" class="spn img-thumbnail" alt="Amsterdam"></a>
			<a href="img\bec.jpg" data-lightbox="gallery1"><img src="img/bec.jpg" class="spn img-thumbnail" alt="Beč"></a>
			<a href="img/berlin.jpg" data-lightbox="gallery1"><img src="img/berlin.jpg" class="spn img-thumbnail" alt="Berlin"></a>
			<a href="img/atina.jpg" data-lightbox="gallery1"><img src="img/atina.jpg" class="spn img-thumbnail" alt="Atina"></a>
			<a href="img/barselona.jpg" data-lightbox="gallery1"><img src="img/barselona.jpg" class="spn img-thumbnail" alt="Barselona"></a>
		</div>