<div class="carousel">

  <ul class="ct clearfix">

    <li><a href="#"><img src="img/nova.jpg"></a></li>
	<li><a href="#"><img src="img/madrid.jpg"></a></li>
	<li><a href="#"><img src="img/bec.jpg"></a></li>
    <li><a href="#"><img src="img/rim.jpg"></a></li>

  </ul>

  <a href="#" class="arrow pre"><</a>

  <a href="#" class="arrow next">></a>

  <ul class="bullet">

    <li class="active"></li>

    <li></li>

    <li></li>

    <li></li>

  </ul>

</div>

<div class="two">
	<img src="img/wizz.jpg">
</div>

<div class="three">
	<img src="img/ryan.jpg">
</div>

<div class="homeNews four">
	
</div>

<div class="homeNews five">
	
</div>

<div class="homeNews six">
	
</div>

<div class="homeNews seven">
	
</div>

<div class="homeNews eight">
	
</div>