<a class="destinacije" href="templates\letovanje\letovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">  
</a>

<img class="veca" src="img\montenegro-veca.jpg" alt="Montenegro">
<p class="info">Crna Gora – biser Mediterana, po mnogo čemu je posebna, smeštena je na jugu Jadranskog mora. Nigde nećete naći, na tako malom prostoru, toliko prirodnog bogatstva, lepote, pitomih plaža, bistrih jezera, brzih reka i predivnih planina – osim u Crnoj Gori. Ujutru se možete probuditi na prekrasnoj obali Jadranskog mora, ručati na jezeru, a uveče uživati šetajuci planinama Crne Gore. Crna Gora je mesto koje vas neće ostaviti ravnodušnim. Egzotični pejzaži ne moraju uvijek biti daleki i nepristupačni. U srcu Mediterana, Jadranskim morem razdvojena od Italije, na toplom jugu Evrope, sa svežinom nepoznatog, čeka vas ova mala republika.
</p>
    
<a class="destinacije" href="templates\letovanje\montenegro\budva\budva.html">
    <div class="dest let">
        <img src="img\budva.jpg" alt="Budva">
        <h2>Budva</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\montenegro\herceg\herceg.html">
    <div class="dest let">
        <img src="img\herceg.jpg" alt="Herceg Novi">
        <h2>Herceg Novi</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\montenegro\becici\becici.html">
    <div class="dest let">
        <img src="img\becici.jpg" alt="Becici">
        <h2>Becici</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\montenegro\rafailovici\rafailovici.html">
    <div class="dest let">
        <img src="img\rafailovici.jpg" alt="Rafailovici">
        <h2>Rafailovici</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\montenegro\sutomore\sutomore.html">
    <div class="dest let">
        <img src="img\sutomore.jpg" alt="Sutomore">
        <h2>Sutomore</h2>
    </div>
</a>


<script src="jquery/side.js"></script>