
<img id="logo" src="logo-png\logo22.png" alt="Nice Travel logo">
<p class="info">TA "Nice Travel" je agencija koja se bavi kako prodajom turističkih aranžmana u zemlji i inostranstvu tako i prodajom avio karata i putnog zdravstvenog osiguranja. Saradjujemo sa velikim brojem turističkih agencija kako u zemlji tako i u inostranstvu. U saradnji sa vodećim agencijama u Srbiji organizujemo visednevne izlete i posete evropskim i svetskim metropolama!
</p>
<p class="info">Radno vreme:</p>
<p class="info">Svakog radnog dana od 10:00h do 18:00h. Nedeljom od 10:00h do 14:00h.</p>
<p class="info">Adresa: Slobode bb Varvarin, robna kuca u Varvarinu.</p>
<p class="info">Kontakt:</p>
<p class="info">Tel: 063\8823488</p>
<p class="info">E-mail: </p>
<p>Vlasnik</p>
<p>Jovan Blagojević</p>