<a class="destinacije" href="templates\letovanje\letovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>
 
<img class="veca" src="img\tunis-veca.jpg" alt="Tunis">
<p class="info">U severnom delu Sahare, ušuškana između padina planine Atlas i Sredozemnog mora, Tunis mami raznolikošću predela, mirisa i boja. Burna istorija, gde su se, poslednjih trideset vekova, smenjivali mnogi narodi, od Feničana do Francuza, učinila je ovu zemlju više nego interesantnom za turiste, tako da je godišnje poseti više od 8 miliona ljudi. Prelepe plaže sa puderastim peskom i toplim morem, luksuzni hoteli, mogućnost obilaska Sahare, građevina iz rimskog perioda i Kartagine, magnetski privlače turiste. 
</p>
  
<a class="destinacije" href="templates\letovanje\tunis\hamamet\hamamet.html">
    <div class="dest let">
        <img src="img\hamamet.jpg" alt="Hamamet">
        <h2>Hamamet</h2>
    </div>
</a>
<a class="destinacije" href="templates\letovanje\tunis\sus\sus.html">
    <div class="dest let">
        <img src="img\sus.jpg" alt="Sus">
        <h2>Sus</h2>
    </div> 
</a>
<a class="destinacije" href="templates\letovanje\tunis\port\port.html">
    <div class="dest let">
        <img src="img\port.jpg" alt="Port el Kantui">
        <h2>Port el Kantui</h2>
    </div>
</a>



<script src="jquery/side.js"></script>