<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\amsterdam-veca.jpg" alt="Amsterdam">
<h2 class="met">Amsterdam</h2>
<p class="info">Slobodouman, opušten i prijateljski nastrojen grad – Amsterdam vas odmah osvaja. Živopisni kanali i ulice pune cveća su savršen okvir za lenjo popodne u nekom kafeu ili za šetnju kroz pijace. Ali Amsterdam je takođe grad bogate kulture i istorije što se vidi i na njegovim najvećim znamenitostima. 
</p>


<script src="jquery/side.js"></script>