<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\atina-veca.jpg" alt="Atina">
<h2 class="met">Atina</h2>
<p class="info">Jutarnja kafa u romantičnoj bašti, šetnja od Sintagme do Akropolja, ručak na Plaki, još jedna kafa u Pireju i zalazak sunca na Sunionu. Ovako bi izgledao savršen, ali naporan dan u Atini. Zbog toga je najbolje grčkoj prestonici "pokloniti" nekoliko dana. Atina je divna u leto, prelepa u jesen, topla u zimu, a u proleće - prekrasna. Ne zaboravite, Atina ima čak 333 sunčana dana u godini.  
</p>


<script src="jquery/side.js"></script>