<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\barselona-veca.jpg" alt="Barselona">
<h2 class="met">Barselona</h2>
<p class="info">Barselona ima sjajnu arhitekturu, ukusnu hranu, obilje sunca i opuštenu atmosferu. Opisana je kao „cvet među najlepšim gradovima sveta”. Besplatni muzeji, parkovi, bašte, katedrala i naravno stadion fudbalskog kluba Barselona samo su delić stvari koje će vas naterati da se zaljubite u ovaj grad. 
</p>


<script src="jquery/side.js"></script>