<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\bec-veca.jpg" alt="Vienna">
<h2 class="met">B e č</h2>
<p class="info">Beč. Grad valcera, umetnosti, kulture (ne kaže se bez razloga “Bečka škola”). Ali ovaj grad nudi mnogo više od toga. Čuvena Bečka opera se nalazi u samom centru Beča u 1. Bezirku gde je i veliko šetalište poput naše Knez Mihajlove, sa prodavnicama, kafićima itd. Dvorac Šenbrun, Prater i bezbroj drugih znamenitosi nateraće vas da ovaj grad posetite više od jednom. 
</p>


<script src="jquery/side.js"></script>