<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\berlin-veca.jpg" alt="Berlin">
<h2 class="met">Berlin</h2>
<p class="info">Glavni grad Nemačke, Berlin, jedna je od najomiljenijih turističkih destinacija u Evropi. Simbol Berlina je Brandenburška kapija, a druge građevine poznate širom sveta su Rajhstag, Televizijski toranj i Kolona Pobede. Turističku atrakciju predstavlja i takozvano Muzejsko ostrvo, u kojem su smešteni Stari muzej, Pergamonski muzej i Stara nacionalna galerija. Vole ga tinejdžeri, skejteri, umetnici, ali i biznismeni! Berlin se ne može opisati jednostavnim navođenjem atrakcija. On je nešto mnogo više.
</p>


<script src="jquery/side.js"></script>