<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\budimpesta-veca.jpg" alt="Budimpešta">
<h2 class="met">Budimpešta</h2>
<p class="info">Budimpešta, za mnoge „kraljica Dunava", pleni lepotom osam mostova i impozantnim građevinama, ali i specijalitetima poput gulaša, paprikaša, riblje čorbe ili čuvene štrudle sa makom, žerbo kockama, marcipanom, rakijom „Palinka" i vinom „Tokaji". 
</p>


<script src="jquery/side.js"></script>