<a href="templates\metropole\metropole.html">
    <img id="ret-but" src="img\return-button.png" alt="Return button icon">	 
</a>
<h2 class="met">Budimpešta</h2>
<img class="veca" src="img\budimpesta-veca.jpg" alt="Budimpešta">

<p class="info">Budimpešta, za mnoge „kraljica Dunava", pleni lepotom osam mostova i impozantnim građevinama, ali i specijalitetima poput gulaša, paprikaša, riblje čorbe ili čuvene štrudle sa makom, žerbo kockama, marcipanom, rakijom „Palinka" i vinom „Tokaji". 
</p>


<script src="js/side.js"></script>