<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\istanbul-veca.jpg" alt="Istanbul">
<h2 class="met">Istanbul</h2>
<p class="info">Jedini grad na svetu koji se prostire na dva kontinenta, spajajući Evropu sa Azijom, a Istok sa Zapadom; "carski" grad u kome su svoj pečat ostavile različite kulture i religije, pomešane u tako savršenom skladu kao nigde drugde; "drugi Rim" - grad koji je za svoje drugo sedište odabrao car Konstantin Veliki koji je "ozvaničio" hrišćanstvo, pa potom  prestonica Istočnorimskog i Vizantijskog carstva; mesto gde su "stolovali" brojni hrišćanski carevi i sultani, i sa kojeg se upravljalo moćnim Otomanskim carstvom... To je nekadašnji Carigrad, a današnji Istanbul, koji posetioce opčini neodoljivim šarmom "starog pomešanog sa novim", na samo njemu svojstven način. 
</p>


<script src="jquery/side.js"></script>