<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\krakov-veca.jpg" alt="Krakov">
<h2 class="met">Krakov</h2>
<p class="info">Magični studentski centar Starog kontinenta i nekadašnja prestonica Poljske, Krakov među mladima i dalje važi za jedno od najatraktivnijih odredišta Evrope. Poznat je i kao grad legendi. Neke od njih vezane su za brdo Vavel. Na njemu su istoimeni dvorac, katedrale sv. Vaclava i sv. Stanislava Biskupa. Na vrhu brda je i Zigmuntova kula sa pet zvona koja, po legendi, svojom zvonjavom teraju oblake i donose lepo vreme.
</p>


<script src="jquery/side.js"></script>