<a href="templates\metropole\metropole.html">
    <img id="ret-but" src="img\return-button.png" alt="Return button icon">	 
</a>
<h2 class="met">Lisabon</h2>
<img class="veca" src="img\lisabon-veca.jpg" alt="Lisabon">

<p class="info">Lisabon, glavni, a ujedno i najveći grad Portugalije. Grad gde ljudi pričaju glasno, smeju se iskreno, a pevaju tužno. Živi u vrtlogu boja od bele i zlatnožute, strasne crvene i tople narandžaste sa detaljima u najveselijoj tirkiznoj i modroplavoj boji. Ovo je jedan od najstarijih gradova na svetu, što arhitekturu ovog grada čini veoma posebnom i privlačnom za fotografisanje. 
</p>


<script src="js/side.js"></script>