<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\london-veca.jpg" alt="London">
<h2 class="met">London</h2>
<p class="info">Putovati znači, između ostalog, i posmatrati kako se svet oko nas neprekidno menja. Ako želite da iskusite takav fenomen, najbolje bi bilo da posetite London. London je mnogostruk. On je prošlost, sadašnjost i budućnost na jednom mestu kao malo koji grad na svetu.
</p>


<script src="jquery/side.js"></script>