<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\madrid-veca.jpg" alt="Madrid">
<h2 class="met">Madrid</h2>
<p class="info">Madrid je najvatrenija evropska metropola, prestonica s najviše sunčanih dana u godini te jedan od najdinamičnijih i najlepših glavnih gradova Evrope. Uz sve to, Madrid će vam na najbolji način dočarati špansku tradiciju, umetnost i temperament. Svoju je istoriju uspešno spojio sa modernim načinom života i stekao reputaciju grada koji nikada ne spava. U tom kosmopolitskom gradu srešćete ljude iz svih delova sveta, a u dugim i besanim noćima stranci u sekundi postaju prijatelji i svaki trenutak života iskorišten je do maksimuma.  
</p>


<script src="jquery/side.js"></script>