
<a class="destinacije" href="templates\metropole\bec.html">
    <div class="dest met">
        <img src="img\bec.jpg" alt="Vienna">
        <h2>B e č</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\amsterdam.html">  
    <div class="dest met">
        <img src="img\amsterdam.jpg" alt="Amsterdam">
        <h2>Amsterdam</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\atina.html">  
    <div class="dest met">
        <img src="img\atina.jpg" alt="Atina">
        <h2>Atina</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\barselona.html">  
    <div class="dest met">
        <img src="img\barselona.jpg" alt="Barselona">
        <h2>Barselona</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\london.html">  
    <div class="dest met">
        <img src="img\london.jpg" alt="London">
        <h2>London</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\berlin.html">  
    <div class="dest met">
        <img src="img\berlin.jpg" alt="Berlin">
        <h2>Berlin</h2>
    </div>
</a>
 <a class="destinacije" href="templates\metropole\budimpesta.html">  
    <div class="dest met">
        <img src="img\budimpesta.jpg" alt="Budimpešta">
        <h2>Budimpešta</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\istanbul.html">  
    <div class="dest met">
        <img src="img\istanbul.jpg" alt="Istanbul">
        <h2>Istanbul</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\krakov.html">  
    <div class="dest met">
        <img src="img\krakov.jpg" alt="Krakov">
        <h2>Krakov</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\lisabon.html">  
    <div class="dest met">
        <img src="img\lisabon.jpg" alt="Lisabon">
        <h2>Lisabon</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\madrid.html">  
    <div class="dest met">
        <img src="img\madrid.jpg" alt="Madrid">
        <h2>Madrid</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\milano.html">  
    <div class="dest met">
        <img src="img\milano.jpg" alt="Milano">
        <h2>Milano</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\moskva.html">  
    <div class="dest met">
        <img src="img\moskva.jpg" alt="Moskva">
        <h2>Moskva</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\pariz.html">  
    <div class="dest met">
        <img src="img\pariz.jpg" alt="Pariz">
        <h2>Pariz</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\pitersburg.html">  
    <div class="dest met">
        <img src="img\pitersburg.jpg" alt="Sankt Peterburg">
        <h2>Sankt Peterburg</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\prag.html">  
    <div class="dest met">
        <img src="img\prag.jpg" alt="Prag">
        <h2>Prag</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\rim.html">  
    <div class="dest met">
        <img src="img\rim.jpg" alt="Rim">
        <h2>Rim</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\sicilija.html">  
    <div class="dest met">
        <img src="img\sicilija.jpg" alt="Sicilija">
        <h2>Sicilija</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\solun.html"> 
    <div class="dest met">
        <img src="img\solun.jpg" alt="Solun">
        <h2>Solun</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\toskana.html">  
    <div class="dest met">
        <img src="img\toskana.jpg" alt="Toskana">
        <h2>Toskana</h2>
    </div>
</a>
<a class="destinacije" href="templates\metropole\venecija.html">  
    <div class="dest met">
        <img src="img\venecija.jpg" alt="Venecija">
        <h2>Venecija</h2>
    </div>
</a>
    
<script src="jquery/side.js"></script