<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\milano-veca.jpg" alt="Milano">
<h2 class="met">Milano</h2>
<p class="info">Na put u Milano će vas verovatno navesti želja za šopingom, fudbalom i operom ali je dovoljan samo jedan pogled na „Duomo” katedralu da ostanete bez daha. Milan se smatra modnom prestonicom i centrom glamura i fudbala ali je prilično potcenjen kao istorijski grad u kom se mogu videti mnoge znamenitosti.
</p>


<script src="jquery/side.js"></script>