<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\moskva-veca.jpg" alt="Moskva">
<h2 class="met">Moskva</h2>
<p class="info">Moskva – najveći grad Evrope i posebno mesto za turiste iz Srbije. Osećaj da ste u zagrljaju goropadnog sibirskog medveda obuzeće vas istog momenta kada zakoračite nekim od širokih bulevara. U Moskvi se smenjuje pet godišnjih doba: proleće, leto, jesen, zima i ruska zima! I pored toga što može da bude ekstremno hladno, pogled na romantični Crveni trg prekriven snegom, uz čašu votke u ruci, poseban je doživljaj. 
</p>


<script src="jquery/side.js"></script>