<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\pariz-veca.jpg" alt="Pariz">
<h2 class="met">Pariz</h2>
<p class="info">Pariz, grad ljubavi, istorije i arhitekture, umetnika i mode, smešten je na obalama Sene, čija lepota uvek iznova mami uzdahe. Evropska prestonica mode i čuveni grad ljubavi za svakog posetioca čuva ponešto.
</p>


<script src="jquery/side.js"></script>