<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\pitersburg-veca.jpg" alt="Sankt Peterburg">
<h2 class="met">Sankt Peterburg</h2>
<p class="info">Prelepi Sankt Peterburg sa svojim baroknim palatama i širokim bulevarima, deluje imuno na promene koje su obeležile kulturni i arhitektonski karakter Moskve. Ovde možete videti veličanstvenost Zimske palate, zaploviti niz kanale, da se prošetati kroz pozlaćenu carsku raskoš. 
</p>


<script src="jquery/side.js"></script>