<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\prag-veca.jpg" alt="Prag">
<h2 class="met">Prag</h2>
<p class="info">Spoj moderne prestonice, širokih ulica i malih kaldrmisanih sokaka je ono po čemu je ovaj grad karakterističan. Prag vas može ostaviti bez daha raznovrsnom arhitekturom, brojnim dvorcima i katedralama. Prag se sastoji od Starog grada, Novog grada i Malog grada, a svaki od njih je celina za sebe. 
</p>


<script src="jquery/side.js"></script>