<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\rim-veca.jpg" alt="Rim">
<h2 class="met">R i m</h2>
<p class="info">Rim, italijanski grad smešten na reci Tibar, između Apeninskih planina i Tirenskog mora, nekada simbol moćne Rimske imperije, a danas velegrad koji svojom lepotom i znamenitostima privlači mnogobrojne turiste. 
</p>


<script src="jquery/side.js"></script>