<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\sicilija-veca.jpg" alt="Sicilija">
<h2 class="met">Sicilija</h2>
<p class="info">Proverite da li su Italijani u pravu kada kažu “kada vidite Siciliju, otkrili ste ceo svet”. Burna istorija i veličanstveni predeli čine savršenu kombinaciju sasvim dovoljnu za idealan odmor. Kada tome dodate jedinstveni ukus vina i slasna tradicionalna jela, poželećete da se vaš boravak ovde nikada ne završi.
</p>


<script src="jquery/side.js"></script>