<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
 </a>

<img class="veca" src="img\solun-veca.jpg" alt="Solun">
<h2 class="met">Solun</h2>
<p class="info">Mnogo je onih koji hvale lepote ovog grada, poznatog kao "Most zaliva Termaikos" (Solunskog zaliva). Jedan je od najstarijih gradova u Evropi. Sam Solun se veoma razlikuje od Atine naglašenim istočnjačkim uticajem, noćnim životom, restoranima i uzerijama, prodavnicama odeće, obuće i nakita, gradskim pijacama i ogromnim brojem spomenika iz perioda Vizantije.
</p>


<script src="jquery/side.js"></script>