<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\toskana-veca.jpg" alt="Toskana">
<h2 class="met">Toskana</h2>
<p class="info">Vinogradi, zamkovi, seoske vile, muzika i moda - jednom rečju izobilje lepote. Neponovljiva je i takoreći drsko razmetljiva lepota prirode i gradova ove brdovite italijanske regije koja je iznedrila neke od najčuvenijih renesansnih umetnika, pesnika, mislilaca i istraživača, i udomila dragulje svetskog slikarstva, vajarstva i srednjovekovne arhitekture.
</p>


<script src="jquery/side.js"></script>