<a class="destinacije" href="templates\metropole\metropole.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\venecija-veca.jpg" alt="Venecija">
<h2 class="met">Venecija</h2>
<p class="info">Jedan od najlepših gradova sveta je italijanska diva na vodi - Venecija. Elegantne gondole koje plove kroz kanale, uzdizanje oko 400 mostova, prelepe palate i crkve, lutanje kroz uske uličice, golubovi, cvetni balkoni, čak i one najotpornije na romantiku i pozitivne emocije neće ostaviti imunim.
</p>


<script src="jquery/side.js"></script>