<a class="destinacije" href="templates\zimovanje\bugarska-zima\bugarska-zima.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\bansko-veca.jpg" alt="Bansko">
<h2 class="zim">Bansko</h2>
<p class="info">U jugozapadnom delu Bugarske, u podnožju planine Pirin, na nadmorskoj visini od 925 metara, smešten je jedan od većih turističkih centara Bansko, koje je deo nacionalnog parka Pirin. Kvalitetno uređene staze i moderna infrastruktura čine Bansko najkvalitetnijim ski-centrom u Bugarskoj, a prema procenama mnogih i na čitavom Balkanskom poluostrvu.   
</p>


<script src="jquery/side.js"></script>