<a href="templates\zimovanje\bugarska-zima\bugarska-zima.html">
    <img id="ret-but" src="img\return-button.png" alt="Return button icon">	 
</a>
<h2 class="zim">Bansko</h2>
<img class="veca" src="img\bansko-veca.jpg" alt="Bansko">

<p class="info">U jugozapadnom delu Bugarske, u podnožju planine Pirin, na nadmorskoj visini od 925 metara, smešten je jedan od većih turističkih centara Bansko, koje je deo nacionalnog parka Pirin. Kvalitetno uređene staze i moderna infrastruktura čine Bansko najkvalitetnijim ski-centrom u Bugarskoj, a prema procenama mnogih i na čitavom Balkanskom poluostrvu.   
</p>


<script src="js/side.js"></script>