<a class="destinacije" href="templates\zimovanje\bugarska-zima\bugarska-zima.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\borovec-veca.jpg" alt="Borovec">
<h2 class="zim">Borovec</h2>
<p class="info">Borovec je najveće i najstarije planinsko mesto i ski centar u Bugarskoj. Savršena kombinacija geografskog položaja i klime svake zime privlači skijaše iz čitave Evrope. Borovec leži na severnim padinama planine Rila, u podnožju najvišeg vrha na Balkanu, Musala (2925m). Pokriven je gustom borovom šumom, a prostire se na nadmorskoj visini 1.150 i 1.350 metara.   
</p>


<script src="jquery/side.js"></script>