<a class="dest" href="templates\zimovanje\zimovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\bugarskazima-veca.jpg" alt="Bugarska">
    
<a class="dest zim" href="templates\zimovanje\bugarska-zima\bansko.html">
    <img src="img\bansko.jpg" alt="Bansko">
    <h2>Bansko</h2>
</a>

<a class="dest zim" href="templates\zimovanje\bugarska-zima\borovec.html">
    <img src="img\borovec.jpg" alt="Borovec">
    <h2>Borovec</h2>
</a>



<script src="js/side.js"></script>