<a class="destinacije" href="templates\zimovanje\zimovanje.html">
    <img id="ret-but" src="nav-icons\return-button.png" alt="Return button icon">	
</a>

<img class="veca" src="img\bugarskazima-veca.jpg" alt="Bugarska">
    
<a class="destinacije" href="templates\zimovanje\bugarska-zima\bansko\bansko.html">
    <div class="dest zim">
        <img src="img\bansko.jpg" alt="Bansko">
        <h2>Bansko</h2>
    </div>
</a>
<a class="destinacije" href="templates\zimovanje\bugarska-zima\borovec\borovec.html">
    <div class="dest zim">
        <img src="img\borovec.jpg" alt="Borovec">
        <h2>Borovec</h2>
    </div> 
</a>



<script src="jquery/side.js"></script>